@import 'variables.scss';

/***  General Structural Styles ***/
#header {
  #navbar-main {
    padding: 8px 3rem;
    .navbar-brand {
      img {
        max-height: 40px;
      }
    }
  }
}

main#content {
  .node__content {
    margin-top: 0;
  }
  .c-csc-hero {
    width: 100vw;
    min-height: 75vh;

    .text-formatted {
      width: 100%;
      transform: translateY(30px);

      h2 {
        margin: 0 20%;
        font-size: 300%;
        /*background-color: #FFFFFF30;*/
      }
    }
  }
} // end of main#content

/** General Text Styles **/

main#content {
  .text-formatted {
    h1, h2, h3, p, span {
      &.blue {
        color: $uva-blue !important;
      }

      &.orange {
        color: $uva-orange !important;
      }

      &.white {
        color: $white;
      }

      &.black {
        color: black;
      }
    }
  }
}


/*** Individual Page Styles ***/

main#content {
  .c-csc-hero#para-2 {
    background-position: bottom center;
  }
}


/** Colors **/
.text-blue {
  color: $uva-blue !important;
}

.text-orange {
  color: $uva-orange;
}

.bg-blue {
  background-color: $uva-blue;
}

.bg-orange {
  background-color: $uva-orange;
}
