@import 'variables.scss';

/*** Home Page Styles ***/
body.path-frontpage main#content {
  .c-csc-hero {
    .home-title-overlay {
      transform: translateY(30px);

      h2 {
        margin-bottom: 0;
        font-size: 400%;
        font-weight: bold;
        letter-spacing: 0.1rem;
        color: $uva-blue;
      }

      h3 {
        font-family: 'ITC Franklin Gothic Demi', sans-serif;
        font-size: 250%;
        letter-spacing: 0.05rem;
      }
    }

    .home-info-overlay {
      position: absolute;
      max-width: 28vw;
      transform: translate(65vw, -40px);
      background-color: #b2c0e3;
      border-radius: 25px;
      color: $uva-blue;
      text-align: left;
      font-size: 1rem;
      padding: 20px;

      .text-formatted {
        h2 {
          margin: 0;
          padding: 0;
          font-size: 1.25rem;
          white-space: nowrap;
          text-align: left !important;
          font-weight: bold;
        }
      }
    }
  } // End of Home page Hero

  // Commons Slideshow (Note, the block must have the machine name block_1)
  .block-views-blockhomepage-slideshow-block-1 {
    min-height: 400px;
    /*border: thin solid $csc-lt-blue;*/
    background-image: url("/themes/custom/csc_bs_sass/images/home/your-space-screen.png");
    background-repeat: no-repeat;
    background-size: 30%;
    background-position-x: 18vw;
    background-position-y: -8px;

    & > div.content {
      margin-left: 55vw;
      padding-top: 10px;
    }


    .views_slideshow_controls_text_previous {
      position: absolute;
      transform: translateY(140px);
      z-index: 200;

      &:hover {
        cursor: pointer;
      }
    }

    .views_slideshow_controls_text_next {
      position: absolute;
      transform: translate(460px, 140px);
      z-index: 200;

      &:hover {
        cursor: pointer;
      }
    }

  }
}
