@import 'variables.scss';

/** General Text Styles **/
.fsnorm {
  font-size: 1rem!important;
}

.fs-small {
  font-size: 0.9rem!important;
}

.fs-time {
  font-size: 0.8rem!important;
}

.fs-large {
  font-size: 1.1rem!important;
}


.fs-xlarge {
  font-size: 1.5rem!important;
}

/** General Block Styles **/
h1, h2, h3 {
  font-family: $font-frankgoth-hvy;
  margin-top: 1rem;
}

h4, h5, h6 {
  font-family: $font-frankgoth-med;
  text-transform: uppercase;
  margin-top: 1rem;
}

p {
  font-family: $font-frankgoth-std;
  line-height: 1.5rem;
}

blockquote {
  margin: 0 0 1.5rem;
  margin-inline-start: 40px;
}

/** Breadcrumbs **/

nav ol.breadcrumb {
  display: block;
  font-size: 90%;

  // Remove parent theme display of slash separator
  .breadcrumb-item:before {
    display: none;
  }

  li > ol {
    list-style-type: none;
    padding-inline-start: 10px;
  }

  // Don't display bootstrap icon for home breadcrumb
  & > li.breadcrumb-item:first-child > i.bi {
     display: none;
  }

  // Make bootstrap chevron icon smaller and vertically aligned
  li.breadcrumb-item {
    i.bi {
      font-size: 70%;
      vertical-align: middle;
    }
  }
}

.block-system-breadcrumb-block .content nav {
  margin: 0 0 0 1.3rem;
  width: fit-content;
}

div.layout.bc-inline .block-system-breadcrumb-block {
  margin: -1rem 0 1rem;

  nav ol.breadcrumb {
    display: inline-block;

    * {
      display: inline-block;
      padding-inline-start: 0px;
    }
  }
}

/** Links **/
a {
  border-bottom: $csc-link;

  &:hover {
    border-bottom: none;
  }
}

// Do not underline social media icons, telphone numbers, or email addresses or any link that is an animated link
a.plain,
// a.link--animated,
a[class^=social-media-link],
a[href^=tel],
a[href^=mailto],
.csc-btn a,
// .captioned-image .field--name-field-caption a
{
  border-bottom: none!important;
}

.reversed a, a.reversed {
  border-bottom: none;

  &:hover {
    border-bottom: $csc-link;
  }
}

#header .navbar,
.path-webform,
.view.events-row {
  a {
    border-bottom: none;
  }
}

// Animated Link Styles
/*
.link--animated,
.field--name-field-teaser-caption p,
.captioned-image .field--name-field-caption a
{
  position: relative;
  z-index: 10;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    background-color: $uva-orange;
    transform-origin: bottom right;
    transform: scaleX(0);
    transition: transform 0.5s ease;
    z-index: -1;
  }

  &:hover,
  &:focus {
    &::before {
      transform-origin: bottom left;
      transform: scaleX(1);
    }
  }
}*/

// Read More links (include animated link styles
p.read-more {
  font-size: 75%;
  font-weight: bold;
  text-align: right;
  font-style: italic;
  position: relative;
  text-transform: uppercase;
  top: -1rem;

  a {
    position: relative;
    z-index: 10;
   /* border-bottom: none; */
/*
    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 2px;
      background-color: $uva-orange;
      transform-origin: bottom right;
      transform: scaleX(0);
      transition: transform 0.5s ease;
      z-index: -1;
    }

    &:hover,
    &:focus {
      &::before {
        transform-origin: bottom left;
        transform: scaleX(1);
      }
    }  */
  }
}

a.read-more, span.read-more {
  font-size: 85%;
  font-weight: bold;
  font-style: italic;
  position: relative;
  text-transform: uppercase;
}

/** End of Links **/

/** Buttons (taken from Arts at UVA) **/
.csc-btn {
  // @include font(15, 15, -0.25, $sans, $fw-medium);
  font-family: $font-frankgoth-std;
  font-size: 90% !important;
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  min-height: 45px;
  max-width: 200px;
  overflow: hidden;
  padding: 10px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  width: 100%;
  z-index: 1;

  &:has(a) {
    padding-bottom: 0.25rem;
  }

  &:active {
    transform: translateY(2px);
  }

  &:hover {
    cursor: pointer;
  }

  // Shape
  &.btn--pill {
    border-radius: 22.5px;
  }

  &.btn--circle {
    border-radius: 50%;
    border: none;
  }

  // Color
  &.btn--blue {
    background-color: $uva-blue;
    color: $white;

    &::before {
      background-color: $csc-lt-blue;
    }
  }

  &.btn--blue-gray-l {
    background-color: $csc-gray;

    &::before {
      background-color: darken($csc-gray, 10%);
    }
  }

  &.btn--white {
    background-color: $white;
    color: $uva-blue;

    &::before {
      background-color: $csc-gray;
    }
  }

  &.btn--outline-white {
    background-color: transparent;
    border: 1px solid $white;
    color: $white;

    &:hover,
    &:focus {
      color: $uva-blue;
    }

    &::before {
      background-color: $white;
    }
  }

  &.btn--outline-blue {
    background-color: transparent;
    border: 1px solid $uva-blue;
    color: $uva-blue;

    &:hover,
    &:focus {
      color: $white;
    }

    &::before {
      background-color: $uva-blue;
    }
  }

  &.btn--disabled {
    background-color: $csc-gray;
    opacity: 0.7;
    cursor: not-allowed;

    &:hover,
    &:focus {
      background-color: $csc-gray;
    }

    &::before {
      background-color: $csc-gray;
    }
  }

  // Motion
  &.btn--slide {
    &::before {
      content: "";
      bottom: 0;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      transform-origin: center right;
      transform: scaleX(0);
      transition: transform 0.25s ease-in-out;
      z-index: -1;
    }

    &:hover::before,
    &:focus::before {
      transform-origin: center left;
      transform: scaleX(1);
    }
  }
}
// End of  CSC Buttons

/** Page Title Styles **/
// Title in layout builder
.block-layout-builder .field--name-title {

}

/** Icons **/
.csc-pointer {
  img.chevron {
    width: 25px;
  }
}


.blue-chevron > div.wrapper:first-child:before {
  content: ' ';
  display: block;
  width: 100%;
  background: no-repeat center/3% url('../images/icons/chevron-blue.svg');
  margin-top: -150px;
  height: 150px;
}

/** Images **/
.field--name-field-image {
  /* Not sure why these are here. Maybe old code...
  float: left;
  margin-right: 1.5rem; margin with float does nothing */

  img {
    /* margin: -4px 4px 4px -4px; why??? */
    display: block;
    position: relative;
    /*
    padding: 4px;
    background-color: #fcfcfc;
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    border-right: 1px solid #888;
    border-bottom: 1px solid #888;
    border-radius: 15px;
     */
  }
}
.content img.img-fluid {
  // max-width: 90%;
}

.field--name-field-teaser-image,
.views-field-field-teaser-image {
  filter: $img-shadow;
}


/** Maps **/
div.geolocation-map-wrapper {
  filter: $map-shadow;
}
.node--view-mode-map .field--name-title { display: none; }

/** Addresses **/


/** Slideshows **/
.views_slideshow_cycle_teaser_section {
  position: relative;
  width: 500px;
  height: 300px;
  filter: $img-shadow;
}

/** Blocks **/

.csc-skewed-block {
  position: relative;
  overflow: hidden;
  z-index: -1;

  .skew-overlay {
    position: relative;
    background-color: $white;
  }
}

/** Paragraphs: class for paragraphs with custom formatting (not structural) **/

// Centered Intro, e.g. Citizen Leaders Fellowship
.centered-intro {
  margin: 0;

  h2 {
    font-size: 2.25rem;
    text-shadow: $csc-shadow;
    text-align: center;
    letter-spacing: 0.2rem;
  }

  p:not(:has(img)) {
    max-width: 800px;
    margin: 0.5rem auto;
    font-weight: bold;
  }

  p:has(img) {
    width: 100%;
    max-width: unset;
    margin: 0.5rem;

    img {
      display: block;
      margin: 1.5rem auto;
      filter: $img-shadow;
    }
  }
}

// Captioned Image Paragraph
.captioned-image {
  .field--name-field-image {
    max-width: 90%;
    margin: 1rem auto 0.75rem;

    img {
      filter: $img-shadow;
    }
  }

  .field--name-field-caption {
    max-width: 90%;
    font-size: 0.95rem;
    font-style: italic;
    text-align: center;
  }
}

/** Views **/
.views-field-title {
  font-weight: bold;
}

.views-field-body {
  font-family: $font-frankgoth-std;
}

.views-field-view-node a {
  border-bottom: 4px solid #E57200;
}

.views-field-field-image + .views-field-field-date {
  margin-top: 0.5rem;
}

.views-field.event-type {
  padding-top: 0.5rem;
  a {
    font-family: $font-frankgoth-med;
    font-size: 80%;
    text-transform: uppercase;
    color: $csc-dark-gray;
    letter-spacing: 1px;
  }
}

// Feature event on the events page
.view.featured-event {
  .views-field-title {
    font-size: 1.5rem;
  }

  .views-field-field-date {
    margin: 0 0 0.5rem;
    font-size: 1rem;
    font-style: italic;
  }
  .views-field-body {
    font-size: 1rem;
    line-height: 1;
    letter-spacing: -0.03125em;
  }

  // Link to content
  .views-field-view-node {
    text-align: center;

    .csc-btn {
      display: inline-block;
    }
  }
}

// Event Column View (used on events page)
.view.event-col {
  margin: 0 0 0 20px;

  .view-header {
    h2 {
      font-family: $font-frankgoth-med;
      font-size: 6rem;
      font-weight: bold;
      text-transform: uppercase;
      line-height: 0.8;
      margin-top: 20px;
      margin-left: 50px;
      text-align: right;

      span {
        display: inline-block;
        transform: translateX(-80px);
      }
    }
  }

  .views-row {
    display: flex;

    &>div:first-child {
      margin: 20px;
    }

    &>div:nth-child(2) {
      margin: 20px 0 0 0;
    }

    .views-field-field-image {
      flex-shrink: 0;
      max-width: 280px;
    }

    .views-field.event-type {
      margin-top: 0.75rem;
      a {
        font-size: 70%;
        letter-spacing: unset;
      }
    }
    .views-field.title {
      margin: 0.25rem 0 0.5rem;
      font-size: 1.25rem;
      font-weight: bold;
      letter-spacing: -0.025rem;
      line-height: 1.2;
      a {
        border-bottom: none;
      }

      /*&:hover {
        border-bottom: $csc-link;
      }*/
    }
    .views-field.date {
      margin: 0.25rem 0 0 0;
      font-size: 90%;
      font-style: italic;
    }
  }
}

// News block (view)
.view.csc-news-block {
  max-width: 75vw;
  margin: 2rem auto;

  // No orange border on links
  a {
    border-bottom: none;
  }

  // News block header
  .view-header {
    position: relative;
    width: 100%;
    background-color: $uva-orange;
    margin-bottom: 0.5rem;
    padding: 0.2rem 0 0;
    border-radius: 15px;

    h2 {
      margin: 1rem auto;
      width: fit-content;
      color: white;
      font-size: 300%;
      font-weight: bold;
    }
  }

  .views-view-responsive-grid__item {
    // border-bottom: thin solid #ccc;
  }

  // The individual news item teasers in the view
  .node--view-mode-teaser {
    border: none;

    // Every field has a .content
    .content {
      line-height: 1.1rem; // pack text close together
      font-size: 90%;
    }

    // New teaser image
    .field--name-field-image {
      float: none;
      overflow: hidden;
      margin-right: 0.25rem;

      img.image-style-news-teaser {
        border: thin solid #aaa;
        border-radius: 0;
        padding: 0;
        transition: transform .2s; /* Animation */
        &:hover {
          transform: scale(1.15);
        }
      }
    } // end of new teaser image

    .field--name-field-date {
      margin-top: 0.75rem;
      font-weight: bold;
      color: $csc-lt-blue;
      text-transform: uppercase;
    }
  }  // end of News node teaser

  .view-footer {
    float: right;
    a {
      border-bottom: 4px solid $uva-orange;
    }
  }

} // end of view news block

// Event Views Blocks (Some on Home page css too)
.view-events {
  // Block 3 of View. Shows row of latest events.
  &.events-row {

    .view-header h2 {
      font-family: $font-frankgoth-hvy;
      text-align: center;
      text-transform: uppercase;
      font-size: 250%;
    }

    .view-content {
      .views-view-responsive-grid {
        justify-items: center;

        .views-view-responsive-grid__item-inner {
          border: thin solid #939292;
          border-top: 16px solid $uva-orange;
          background-color: $white;

          .views-field-field-image {
            border-top: thin solid #939292;
            img {
              border: none;
              border-radius: 0;
              padding: 0;
            }
          } // End of .field--name-field-image


            /*margin: 10px 8px 0;
            padding-top: 0.5rem;
            line-height: 1.35rem;*/

            .views-field-field-date {
              margin: 18px 8px 0;
              line-height: 1.35rem;
              font-weight: bold;

              .smart-date--time {
                display: none;
              }
            }

            .views-field-field-location {
              margin: 0 8px;
              font-size: 90%;
            }

            .views-field-title {
              margin: 0.5rem 8px 0;
              font-size: 110%;
              font-weight: bold;
            }

        }  // End of views-view-responsive-grid__item-inner
      } // End of views-view-responsive-grid
    } // End of .view-events .view-content
    .view-footer {
      width: fit-content;
      margin: 3rem auto 1rem;
      text-align: center;

      p { // The "More Events Button"
        font-family: $font-frankgoth-hvy;
        font-size: 90%;
        padding: 0rem 3.5rem;
        border-radius: 3px;
        line-height: 1.15rem;

        a {
          display: inline-block;
          padding-top: 0.35rem;
          color: $white !important;
          text-transform: uppercase;
          letter-spacing: 1px;
        }
      }
    } // End of .events-row .footer
  } // End of &.events-row
} // End of .view-events

// Common footer / bottom of page elements
// Help curate block
.block.help-curate {
  padding-top: 3rem;

  .content {
    position: absolute;
    right: 3rem;
    margin-top: -2.75rem;
    width: fit-content;
    font-size: 100%;
    font-weight: bold;
    color: white;
    background-color: $uva-orange;
    letter-spacing: 0.05rem;
    padding: 1.5rem 2rem 0rem;
    z-index: 10;

    p:last-child {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;

      a {
        border-bottom: none;
      }

      button {
        display: inline-block;
        margin-top: -0.8rem;
        background: transparent;
        color: white;
        border: thin solid white;
        height: 38px;
        padding: 0.25rem 1.5rem 0;
        font-weight: bold;
        text-transform: uppercase;
      }
    }
  }
}

.block.email-updates {
  margin: 2rem 0;
  width: 100%;
  height: 60px;
  color: white;
  background-color: $csc-dark-gray;

  .field--name-body {
    padding-top: 20px;
    max-width: 1400px;
    margin-left: 13%;

    p a {
      display: flex;
      flex-direction: row;
      color: white !important;
      letter-spacing: .05rem;
      font-size: 95%;
      font-weight: bold;

     /* Took out input text box because link goes to form
      input {
        display: inline-block;
        margin-left: 1.5rem;
        margin-top: -0.4rem;
        background: transparent;
        border: thin solid gray;
        border-radius: 8px;
        min-width: 20%;
      } */
    }
  }
}
// End of Bottom of Page Elements

// Webforms
body.path-webform {
  .help-curate {
    display: none;
  }
}

// End of Webforms


// Animations
@keyframes fade-in {
  100% {
    opacity: 1;
  }
}

@keyframes slide-in {
  100% {
    width: 100%;
  }
}

@keyframes transformer {
  100% {
    transform: none;
  }
}
