@import 'variables.scss';

/***  General Structural Styles ***/

// Html/Body
html, body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  font-family: "franklin-gothic-urw", "ITC Franklin Gothic Std", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 17px;
  margin: 0;
}

body {
  margin-top: 0 !important;
  max-width: 100%;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

#main.container {
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

// Header
#header {
  #navbar-main {
    padding: 8px 3rem;
    .navbar-brand {
      img {
        max-height: 40px;
      }
    }
  }

  // Menu Links
  .navbar-nav .nav-item a {
    margin-right: 0.5rem;
    color: white;
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: bold;
    letter-spacing: .05rem;
  }

} // End #header



// Footer
footer.site-footer {
  position: relative;
  bottom: 0;
  width: 100%;
  min-height: 50px;
  z-index: 1;
}
// End of Footer
.path-frontpage #main-wrapper {
  margin-top: -1rem; // There is whitespace before the hero on the homepage. Not sure where it is coming from.
}

// Breadcrumbs (hiding for now)
.block-system-breadcrumb-block {
  display: none;
}

// Layout Styles
.blue-skew {
  background: inherit;
  position: relative;

  .skew-overlay {
    position: absolute;
    background: #009fdf;
    width: 100%;
    height: 100%;
    z-index: 1;
    padding: 2rem;

    &:after {
      background: white;
      bottom: 0;
      content: "";
      display: block;
      height: 80%;
      left: 0;
      position: absolute;
      right: 0;
      transform: skewY(-9deg);
      transform-origin: 100%;
      z-index: -1;
    }

    & ~ div.layout__region {
      z-index: 1;
    }
  }
}


// Paragraph Types

main#content {
  .node__content {
    margin-top: 0;
  }

  .c-csc-hero {
    width: 100vw;
    min-height: 70vh;
    background-position: top center;

    .text-formatted {
      width: 100%;
    }
  }

  // Teaser row
  .c-csc-teaser_row .field--name-field-header h2 {
    margin: 0px auto 12px;
    width: fit-content;
    text-align: center;
    border-bottom: 4px solid $uva-orange;
    line-height: 28px;
  }

  .field.field--name-field-teasers {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    & > .field__item .text-formatted {
      color: $uva-blue;
      margin: 8px auto;
      p {
        margin: 0 auto;
        padding: 0;
        text-align: center;
        line-height: 20px;
        width: fit-content;

        &:last-child {
          border-bottom: 4px solid $uva-orange;
        }
      }
    }
  }

  // Separators
  .csc-sep {
    &.dotted-orange {
      border-top: 4px dotted $uva-orange;
      margin: 2rem auto;
      padding-top: 2rem;
      width: 80%;
      /* border-image: url('/themes/custom/csc_bs_sass/images/icons/orange-dot.svg'); */
    }
  }
  main#content .csc-sep.dotted-orange {
    /* border-top: 4px dotted #E57200; */
    margin: 2rem auto;
    padding-top: 2rem;
    width: 80%;

  }
} // end of main#content
