@import 'variables.scss';

/** Views **/
.views-field-title {
  font-weight: bold;
}

.views-field-body {
  font-family: $font-frankgoth-std;
}

.views-field-view-node a {
  border-bottom: 4px solid #E57200;
}

.views-field-field-image img {
  filter: $img-shadow;
}

.views-field-field-image + .views-field-field-date {
  margin-top: 0.5rem;
}

.views-field.event-type  {
  /* padding-top: 0.3rem; */
  a {
    font-family: $font-frankgoth-med;
    font-size: 80%;
    text-transform: uppercase;
    color: $csc-dark-gray;
    letter-spacing: 1px;
  }
}

// View more button in any view (orange button with white lettering)
.view p.view-more {
  width: fit-content;
  margin: 3rem auto 1rem;
  padding: 0rem 1.5rem;
  border-radius: 3px;
  background-color: $uva-orange;
  font-family: "ITC Franklin Gothic Hvy", sans-serif;
  font-size: 90%;
  text-align: center;
  line-height: 1.15rem;

  a {
    display: inline-block;
    padding-top: 0.5rem;
    color: #fdfdfd !important;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
}

// Feature event on the events page
.view.featured-event {
  .views-field-title {
    font-size: 1.5rem;
  }

  .views-field-field-date {
    margin: 0 0 0.5rem;
    font-size: 1rem;
    font-style: italic;
  }
  .views-field-body {
    font-size: 1rem;
    line-height: 1;
    letter-spacing: -0.03125em;
  }

  // Link to content
  .views-field-view-node {
    text-align: center;

    .csc-btn {
      display: inline-block;
    }
  }
}

// Event Column View (used on events page)
.view.event-col {
  margin: 0 0 0 30px;

  .view-header {
    h2 {
      font-family: $font-frankgoth-med;
      font-size: 5.5rem;
      font-weight: bold;
      text-transform: uppercase;
      line-height: 0.8;
      /*margin: 25px 0 30px;*/
      text-align: right;

      span {
        display: inline-block;
        transform: translateX(-80px);
      }
    }
  }

  $event-row-gap: 30px;

  .views-row {
    display: flex;

    &>div:first-child {
      margin: $event-row-gap;
    }

    &>div:nth-child(2) {
      margin: $event-row-gap 0 0 0;
    }

    .views-field-field-image {
      flex-shrink: 0;
      max-width: 280px;
    }

    .views-field.event-type {
      /* margin-top: 0.75rem; */
      a {
        font-size: 70%;
        letter-spacing: unset;
      }
    }
    .views-field.title {
      margin: 0.25rem 0 0.5rem;
      font-size: 1.25rem;
      font-weight: bold;
      letter-spacing: -0.025rem;
      line-height: 1.2;
      a {
        border-bottom: none;
      }

      /*&:hover {
        border-bottom: $csc-link;
      }*/
    }
    .views-field.date, .views-field.time {
      margin: 0.25rem 0 0 0;
      font-size: 90%;
      font-weight: normal;
      line-height: 1;
    }
  }
}

// Event Views Blocks (Some on Home page css too)
.view-events {
  &.events-row-teasers {
    max-width: 76vw;
    padding: 0;
  }
  // Block 3 of View. Shows row of latest events.
  &.events-row, &.events-row-teasers {

    .view-header h2 {
      font-family: $font-frankgoth-hvy;
      text-align: center;
      text-transform: uppercase;
      font-size: 250%;
    }

    .view-content {
      .views-view-responsive-grid {
        justify-items: center;
        grid-auto-rows: 1fr;

        .views-view-responsive-grid__item-inner {
          border: thin solid #939292;
          height: 100%;
          border-top: 16px solid $uva-orange;
          background-color: $white;

          article.node--type-event {
            margin: 0;
            padding: 0;
          }

          p.location {
            margin: 0;
            font-size: 105%;
          }

          .node--view-mode-teaser {
            margin-bottom: 10px;
            .node__content {
              margin-top: 0;
              text-align: center
            }
          }

          .views-field-field-image, .field--name-field-image {
            border-top: thin solid #939292;
            img {
              border: none;
              border-radius: 0;
              padding: 0;
              filter: none;
            }
          } // End of .field--name-field-image


          /*margin: 10px 8px 0;
          padding-top: 0.5rem;
          line-height: 1.35rem;*/

          .views-field-field-date {
            margin: 0 8px;
            line-height: 1.35rem;
            font-weight: bold;
            max-width: 380px;

            .smart-date--time {
              display: none;
            }
          }

          .field--name-field-date {
            margin: 0 0 0.25rem 0;
            max-width: 300px;
            line-height: 1.05rem;
            font-size: 0.85rem;
            font-weight: bold;
          }

          .views-field .field-content {
            text-align: center;
          }

          .views-field-field-location, .field--name-field-location {
            margin: 0 8px;
            /* font-size: 90%;*/
          }

          .views-field-title, .field--name-field-short-title {
            margin: 0.65rem 0;
            line-height: 1.2;
            font-size: 115%;
            font-weight: bold;
            max-width: 400px;

            a {
              border-bottom: none;
            }
          }

          // New way with teasers


        }  // End of views-view-responsive-grid__item-inner
      } // End of views-view-responsive-grid
    } // End of .view-events .view-content

    /* Generalized to use in any view above at top
    .view-footer {
      width: fit-content;
      margin: 3rem auto 1rem;
      text-align: center;

      p { // The "More Events Button"
        font-family: $font-frankgoth-hvy;
        font-size: 90%;
        padding: 0rem 3.5rem;
        border-radius: 3px;
        line-height: 1.15rem;

        a {
          display: inline-block;
          padding-top: 0.35rem;
          color: $white !important;
          text-transform: uppercase;
          letter-spacing: 1px;
        }
      }
    } // End of .events-row .footer*/

  } // End of &.events-row

  // Featured Event on Events Page
  &.featured-event {
    max-width: 500px;
    margin-left: 5rem;
    .views-field.event-type {
      margin-top: 0.8rem;
    }
  }

  &.events-list-alt .row.views-row {
    padding: 30px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2), 0 0 8px rgba(0, 0, 0, 0.2);
    transition: background 0.1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    border-radius: 10px;
    box-sizing: border-box;
    margin: 20px 0;
    min-height: 150px;
    overflow: hidden;
    padding: 20px;
    position: relative;
    line-height: 1.3;
    z-index: 1;
  }

} // End of .view-events

// News block (view)
.view.csc-news-block {
  max-width: 75vw;
  margin: 2rem auto;
  padding-left: 1rem;

  // No orange border on links
  a {
    border-bottom: none;
  }

  // News block header
  .view-header {
    position: relative;
    width: 100%;
    /* background-color: $uva-orange; */
    margin-bottom: 0.5rem;
    padding: 0.2rem 0 0;
    /* border-radius: 15px; */

    h2 {
      margin: 1rem auto;
      width: fit-content;
      /*color: white;*/
      font-size: 250%;
      font-weight: bold;
      text-transform: uppercase;
    }
  }

  .views-view-responsive-grid__item {
    // border-bottom: thin solid #ccc;
  }

  // The individual news item teasers in the view
  .node--view-mode-teaser {
    border: none;

    // Every field has a .content
    .content {
      line-height: 1.1rem; // pack text close together
      font-size: 90%;
    }

    // New teaser image
    .field--name-field-image {
      float: none;
      overflow: hidden;
      margin-right: 0.25rem;

      img.image-style-news-teaser {
        border: thin solid #aaa;
        border-radius: 0;
        padding: 0;
        transition: transform .2s; /* Animation */
        &:hover {
          transform: scale(1.15);
        }
      }
    } // end of new teaser image

    .field--name-field-date {
      margin-top: 0.75rem;
      font-weight: bold;
      color: $csc-lt-blue;
      text-transform: uppercase;
    }
  }  // end of News node teaser

  .view-footer {
    float: right;
    a {
      border-bottom: 4px solid $uva-orange;
    }
  }

} // end of view news block
