@import 'variables.scss';

/** General Text Styles **/
.fsnorm {
  font-size: 1rem!important;
}

.fs-small {
  font-size: 0.9rem!important;
}

.fs-time {
  font-size: 0.8rem!important;
}

.fs-large {
  font-size: 1.1rem!important;
}


.fs-xlarge {
  font-size: 1.5rem!important;
}

/** General Block Styles **/
h1, h2, h3 {
  font-family: $font-frankgoth-hvy;
  margin-top: 1rem;
}

h4, h5, h6 {
  font-family: $font-frankgoth-med;
  text-transform: uppercase;
  margin-top: 1rem;
}

p {
  font-family: $font-frankgoth-std;
  line-height: 1.5rem;
}

blockquote {
  margin: 0 0 1.5rem;
  margin-inline-start: 40px;
}

/** Breadcrumbs **/

nav ol.breadcrumb {
  display: block;
  font-size: 90%;

  // Remove parent theme display of slash separator
  .breadcrumb-item:before {
    display: none;
  }

  li > ol {
    list-style-type: none;
    padding-inline-start: 10px;
  }

  // Don't display bootstrap icon for home breadcrumb
  & > li.breadcrumb-item:first-child > i.bi {
     display: none;
  }

  // Make bootstrap chevron icon smaller and vertically aligned
  li.breadcrumb-item {
    i.bi {
      font-size: 70%;
      vertical-align: middle;
    }
  }
}

.block-system-breadcrumb-block .content nav {
  margin: 0 0 0 1.3rem;
  width: fit-content;
}

div.layout.bc-inline .block-system-breadcrumb-block {
  margin: -1rem 0 1rem;

  nav ol.breadcrumb {
    display: inline-block;

    * {
      display: inline-block;
      padding-inline-start: 0px;
    }
  }
}  // End of Breadcrumbs

// Separators
main#content {
  .csc-sep {
    &.dotted-orange {
      border-top: 4px dotted $uva-orange;
      margin: 2rem auto;
      padding-top: 2rem;
      width: 80%;
      /* border-image: url('/themes/custom/csc_bs_sass/images/icons/orange-dot.svg'); */
    }

    &.dotted-blue {
      border-top: 4px dotted $uva-blue;
      margin: 2rem auto;
      padding-top: 2rem;
      width: 80%;
      /* border-image: url('/themes/custom/csc_bs_sass/images/icons/orange-dot.svg'); */
    }
  }

  main#content .csc-sep.dotted-orange {
    /* border-top: 4px dotted #E57200; */
    margin: 2rem auto;
    padding-top: 2rem;
    width: 80%;

  }
} // end of separators

/** Links **/
a {
  border-bottom: $csc-link;

  &:hover {
    border-bottom: none;
    color: $uva-orange!important;
  }
}

// Do not underline social media icons, telphone numbers, or email addresses or any link that is an animated link
a.plain,
// a.link--animated,
a[class^=social-media-link],
a[href^=tel],
a[href^=mailto],
.csc-btn a,
// .captioned-image .field--name-field-caption a
{
  border-bottom: none!important;
}

.reversed a, a.reversed,
.link-reversed a, .link-reversed {
  border-bottom: none;

  &:hover {
    border-bottom: $csc-link;
  }
}

.link-orange {
  border-bottom: none!important;
  &:hover {
    color: $uva-orange!important;
  }
}

.link-underline {
  text-decoration: underline;
  &:hover {
    text-decoration: none;
  }
}

#header .navbar,
.path-webform,
.view.events-row {
  a {
    border-bottom: none;
  }
}

// Animated Link Styles
/*
.link--animated,
.field--name-field-teaser-caption p,
.captioned-image .field--name-field-caption a
{
  position: relative;
  z-index: 10;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    background-color: $uva-orange;
    transform-origin: bottom right;
    transform: scaleX(0);
    transition: transform 0.5s ease;
    z-index: -1;
  }

  &:hover,
  &:focus {
    &::before {
      transform-origin: bottom left;
      transform: scaleX(1);
    }
  }
}*/

// Read More links (include animated link styles
p.read-more {
  font-size: 75%;
  font-weight: bold;
  text-align: right;
  font-style: italic;
  position: relative;
  text-transform: uppercase;
  top: -1rem;

  a {
    position: relative;
    z-index: 10;
   /* border-bottom: none; */
/*
    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 2px;
      background-color: $uva-orange;
      transform-origin: bottom right;
      transform: scaleX(0);
      transition: transform 0.5s ease;
      z-index: -1;
    }

    &:hover,
    &:focus {
      &::before {
        transform-origin: bottom left;
        transform: scaleX(1);
      }
    }  */
  }
}

a.read-more, span.read-more {
  font-size: 85%;
  font-weight: bold;
  font-style: italic;
  position: relative;
  text-transform: uppercase;
}

/** End of Links **/

/** Buttons (taken from Arts at UVA) **/
.csc-btn {
  // @include font(15, 15, -0.25, $sans, $fw-medium);
  font-family: $font-frankgoth-std;
  font-size: 90% !important;
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  min-height: 45px;
  max-width: 200px;
  overflow: hidden;
  padding: 10px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  width: 100%;
  z-index: 1;

  &:has(a) {
    padding-bottom: 0.25rem;
  }

  &:active {
    transform: translateY(2px);
  }

  &:hover {
    cursor: pointer;
  }

  // Shape
  &.btn--pill {
    border-radius: 22.5px;
  }

  &.btn--pill-tall {
    border-radius: 50px;
  }

  &.btn--circle {
    border-radius: 50%;
    border: none;
  }

  // Color
  &.btn--blue {
    background-color: $uva-blue;
    color: $white;

    &::before {
      background-color: $csc-lt-blue;
    }
  }

  &.btn--blue-gray-l {
    background-color: $csc-gray;

    &::before {
      background-color: darken($csc-gray, 10%);
    }
  }

  &.btn--white {
    background-color: $white;
    color: $uva-blue;

    &::before {
      background-color: $csc-gray;
    }
  }

  &.btn--outline-white {
    background-color: transparent;
    border: 1px solid $white;
    color: $white;

    &:hover,
    &:focus {
      color: $uva-blue;
    }

    &::before {
      background-color: $white;
    }
  }

  &.btn--outline-blue {
    background-color: transparent;
    border: 1px solid $uva-blue;
    color: $uva-blue;

    &:hover,
    &:focus {
      color: $white;
    }

    &::before {
      background-color: $uva-blue;
    }
  }

  &.btn--disabled {
    background-color: $csc-gray;
    opacity: 0.7;
    cursor: not-allowed;

    &:hover,
    &:focus {
      background-color: $csc-gray;
    }

    &::before {
      background-color: $csc-gray;
    }
  }

  // Motion
  &.btn--slide {
    &::before {
      content: "";
      bottom: 0;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      transform-origin: center right;
      transform: scaleX(0);
      transition: transform 0.25s ease-in-out;
      z-index: -1;
    }

    &:hover::before,
    &:focus::before {
      transform-origin: center left;
      transform: scaleX(1);
    }
  }
}
// End of  CSC Buttons

/** Page Title Styles **/
// Title in layout builder
.block-layout-builder .field--name-title {

}

/** Icons **/
.csc-pointer {
  img.chevron {
    width: 25px;
  }
}


.blue-chevron > div.wrapper:first-child:before {
  content: ' ';
  display: block;
  width: 100%;
  background: no-repeat center/3% url('../images/icons/chevron-blue.svg');
  margin-top: -150px;
  height: 150px;
}

/** Images **/
.field--name-field-image {
  /* Not sure why these are here. Maybe old code...
  float: left;
  margin-right: 1.5rem; margin with float does nothing */

  img {
    /* margin: -4px 4px 4px -4px; why??? */
    display: block;
    position: relative;
    /*
    padding: 4px;
    background-color: #fcfcfc;
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    border-right: 1px solid #888;
    border-bottom: 1px solid #888;
    border-radius: 15px;
     */
  }
}

.img-center {
  width: fit-content;
  margin: 0 auto;
}

.img-link {
  a {
    border: none;
  }
}

.field--name-field-teaser-image,
.field--name-field-image,
.views-field-field-teaser-image {
  filter: $img-shadow;
}

.img-no-shadow img {
  filter: none!important;
}


/** Maps **/
div.geolocation-map-wrapper {
  filter: $map-shadow;
}
.node--view-mode-map .field--name-title { display: none; }

/** Addresses **/


/** Slideshows **/
.views_slideshow_cycle_teaser_section {
  position: relative;
  width: 500px;
  height: 300px;
  filter: $img-shadow;
}

/** Blocks **/

.csc-skewed-block {
  position: relative;
  overflow: hidden;
  z-index: -1;

  .skew-overlay {
    position: relative;
    background-color: $white;
  }
}

/** Cards **/
.view-people, .view-people-indexed {
  .view-content {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: stretch;

    // Unset values in _grid.scss (Should I be using Grid instead?) Or is looks like a barrio theme setting... @if $enable-grid-classes
    & > * {
      flex-shrink: unset;
      width: unset;
      max-width: unset;
      padding-right: unset;
      padding-left: unset;
      margin-top: unset;
    }
  }

  .card.people {
    width: 250px;
    height: 100%;
    border: none;

    .card-image {
      border-bottom: solid $uva-orange 10px;
    }

    .card-body {
      padding: 1.25rem;
      background-color: #f7f7f7;

      .card-title {
        margin: 0 0 0.75rem;
        font-family: $font-frankgoth-hvy;
        font-size: 1.5rem;
        text-transform: capitalize!important;
      }

      .card-text {
        .field {
          font-size: 1rem;
        }

        .field--name-field-job-title {
          font-weight: bold;
          margin: 0 0 0.5rem;
        }

        .field--name-field-job-title {

        }

        .field--name-field-csc-role {
          margin: 0 0 0.25rem;

          &:first-child {
            font-weight: bold;
          }
        }
      } // End of .card-text
    }
  }
}

// Common footer / bottom of page elements
// Help curate block
.block.help-curate {
  padding-top: 3rem;

  .content {
    position: absolute;
    right: 3rem;
    margin-top: -2.75rem;
    width: fit-content;
    font-size: 100%;
    font-weight: bold;
    color: white;
    background-color: $uva-orange;
    letter-spacing: 0.05rem;
    padding: 1.5rem 2rem 0rem;
    z-index: 10;

    p:last-child {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;

      a {
        border-bottom: none;
      }

      button {
        display: inline-block;
        margin-top: -0.8rem;
        background: transparent;
        color: white;
        border: thin solid white;
        height: 38px;
        padding: 0.25rem 1.5rem 0;
        font-weight: bold;
        text-transform: uppercase;
      }
    }
  }
}

.block.email-updates {
  margin: 2rem 0;
  width: 100%;
  height: 60px;
  color: white;
  background-color: $csc-dark-gray;

  .field--name-body {
    padding-top: 20px;
    max-width: 1400px;
    margin-left: 13%;

    p a {
      display: flex;
      flex-direction: row;
      color: white !important;
      letter-spacing: .05rem;
      font-size: 95%;
      font-weight: bold;

     /* Took out input text box because link goes to form
      input {
        display: inline-block;
        margin-left: 1.5rem;
        margin-top: -0.4rem;
        background: transparent;
        border: thin solid gray;
        border-radius: 8px;
        min-width: 20%;
      } */
    }
  }
}
// End of Bottom of Page Elements

// Webforms
body.path-webform {
  .help-curate {
    display: none;
  }
}

// End of Webforms


// Animations
@keyframes fade-in {
  100% {
    opacity: 1;
  }
}

@keyframes slide-in {
  100% {
    width: 100%;
  }
}

@keyframes transformer {
  100% {
    transform: none;
  }
}
