/* May already be in bootstrap took from uva law law.virginia.edu
@media (min-width: 48em) {
  .container, .container-sm, .container-md, .container-lg {
    max-width: 1270px;
  }
}

@media (min-width: 48em) {
  .container, .container-sm, .container-md {
    max-width: 720px;
  }
}

@media (min-width: 36em) {
  .container, .container-sm {
    max-width: 540px;
  }
}
*/

// Layout
@media (min-width: 48em) {
  // A fixed width section (paragraph) in a full width page (content type)
  body.node--type-page-full-width {
    .layout--twocol-section.layout--twocol-section--50-50.fixed-width > .layout__region--first,
    .layout--twocol-section.layout--twocol-section--50-50.fixed-width > .layout__region--second {
      flex: 0 1 45%;
      padding: 1rem;
    }
  }
}
