@import 'variables.scss';

/***  General Structural Styles ***/

// Html/Body
html, body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  font-family: "franklin-gothic-urw", "ITC Franklin Gothic Std", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 17px;
  margin: 0;
}

body {
  margin-top: 0 !important;
  max-width: 100%;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

#main-wrapper {
  min-height: 800px; // temporary TODO: remove this
}

#main.container {
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

main#content {
  margin: 0;
  padding: 0;
}

// Header
#header {
  font-family: $font-frankgoth-hvy;

  // Top Navbar
  #navbar-top {
    padding: 10px 5rem 10px 1rem;
    max-height: 54px;
    background-color: $csc-grey-blue!important;

    & > section {
      width: 100%;
      display: flex;
      justify-content: space-between;
      gap: 1rem;

      & > * {
        width: fit-content;
      }

      a.navbar-brand {
        margin: -8px auto 0 0;
        img {
          max-height: 40px;
        }
      }

      // Main Menu
      nav.menu--top-menu ul {
        margin-top: 6px;
        list-style-type: none;
        display: flex;
        justify-content: space-between;

        li {
          display: flex;
          align-items: center;

          a {
            font-family: $font-frankgoth-std !important;
            font-size: 0.75rem;
          }

          &:after {
            content: '/';
            color: $uva-orange;
            display: inline-block;
            margin: 0 1.75rem;
          }
          &:last-child:after {
            display: none;
          }
        }
        /*
        li:after {
          content: '/';
          color: $uva-orange;
          display: inline-block;
          margin-left: -4px;
        }
         */
      }
    }

      // Social Media links
    .block-social-media-links-block {

      ul.social-media-links--platforms {
        margin: 6px 0 0;

        li a {
          color: white;

          &:hover {
            color: $uva-orange;
          }
        }
      }
    } // End of Social Media links in navbar

    // For Calendar Icon see elements under calendar


    // Give Button
    div.csc-give-link {
      position: relative;
      max-height: 32px;
      color: #ffffff;
      background-color: transparent;
      border: $csc-link;
      font-family: "ITC Franklin Gothic Std", sans-serif;
      font-weight: 600;
      justify-content: center;
      text-decoration: none;
      text-align: center;
      text-transform: uppercase;
      transform: skewX(-20deg);
      cursor: pointer;

      .content .field--name-body p {
        max-height: 20px;
        width: fit-content;
        transform: skewX(20deg);
        padding: 0.2rem 0.25rem 0 0;
        a {
          font-family: $font-bodoni;
          font-size: 0.95rem;
          font-weight: 600;
          color: $white;
          text-transform: uppercase;
          white-space: nowrap;
          letter-spacing: 0.05rem;
          &:hover {
            color: $uva-orange;
          }
        }
      }
    } // End of Give Button

    // Search Block
    .block-search-form-block {
      padding: 0;

      .contextual {
        display: none;
      }

      & > .container-inline {
        white-space: nowrap;
        display: flex;
        padding-left: 1.5rem;
      }

      .icon {
        color: $white;
        padding-top: 6px;
        max-height: 35px;
      }

      #search-block-form {
        width: 100%;
        overflow: hidden;
        display: inline-block;
        margin-left: 0.5rem;

        .js-form-item {
          display: none; // hiding input box for now. make into dropdown?

          input {
            max-height: 30px;
          }
        }
        .form-submit {
          display: none;
        }
        // This animation didn't really work...
        &.show, &.show .js-form-item {
          animation-name: slide-in;
          animation-duration: 5s;
          animation-timing-function: linear;
          animation-fill-mode: forwards;
        }
      }
    }

  } // end of #navbar-top

  // Bottom Navbar in Header at top
  #navbar-main {
    height: 35px;
    padding: 4px 0 0 0;

    &.bg-primary {
      background-color: $uva-blue !important;
      z-index: 1;
    }

    ul.navbar-nav {
      /*
      margin: 0 4rem 0 auto;
      justify-content: space-between;
      */
      justify-content: center;
      margin: auto;
      font-family: $font-frankgoth-cd;


      li {
        padding: 0 1rem;
      }

      a, span.nav-link.dropdown-toggle {
        font-size: 1.1rem;
        color: $csc-lt-gray;

        &:hover {
          color: $uva-orange;
          opacity: 1;
        }
      }

      span.nav-link.dropdown-toggle {
        margin: 0 0.25rem 0 0;
        color: white;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 0.05rem;
      }
    }
/*
    ul.dropdown-menu {
      li {
        padding-bottom: 0.5rem;
        border-bottom: thin solid grey;
      }
      a {
        font-weight: normal;
        color: $uva-blue;

        &:hover {
          color: $uva-blue-25;
        }
      }
    }*/
  }

  // Menu Links (for both upper and lower menus)
  .navbar {

    // Top header menu uses .menu-item, while navigation menu in primary header uses .nav-item
    .nav-item, .menu-item {
      a {
        margin: 0 0.25rem 0 0;
        color: white;
        text-transform: uppercase;
        font-size: 0.9rem;
        font-weight: bold;
        letter-spacing: .05rem;
        &:hover {
          color: $uva-orange;
          opacity: 1;
        }
      }
    }

    .nav-item.dropdown:hover {
        .dropdown-menu {
          display: block;
          margin: -0.4rem 0 0 -4rem;
          padding: 0 1rem 0.5rem;
          line-height: 2.5;
          color: $uva-blue;
          border-top-left-radius: 0;
          border-top-right-radius: 0;

          li.dropdown-item {
            padding-top: 0.35rem!important;
            border-bottom: thin solid lightgray;

            &:last-child {
              border-bottom: none;
            }

            a {
              color: $uva-blue!important;
              /*backgroud-color: $off-white;*/
              text-transform: capitalize;
              line-height: 1;
              &:hover {
                color: $uva-orange !important;
              }
            }

            &.active {
              background-color: transparent!important;
              a.active {
                display: inline-block;
                margin-left: -14px;
                color: #00000060 !important;
                cursor: default;
                &:before {
                  display: inline-block;
                  margin-right: 0.255em;
                  vertical-align: 0.255em;
                  content: "";
                  border-top: 0.3em solid;
                  border-right: 0.3em solid transparent;
                  border-bottom: 0;
                  border-left: 0.3em solid transparent;
                  transform: rotate(-90deg) translate(-2px);
                }
              }
            }
          }
        }
      }

  }  // end of Menu Links for both headers

} // End #header

// Containers, etc.
.container article .node__content div:not(.container) {
  max-width: 1320px;
  /*  padding-right: 1rem; // breaks classes and events pages */
}

// Title full width
#title-div .content {
  background-color: $csc-gray;
  margin: 0;
  padding: 0.25rem;

  h1 {
    text-align: center;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
  }
}

// Footer including featured bottom

.region-featured-bottom-first {
}

footer.site-footer {
  position: relative;
  bottom: 0;
  width: 100%;
  min-height: 50px;
  z-index: 1;
  color: $off-white;
  padding: 1.5rem;

  a {
    color: $off-white !important;
    border-bottom-width: 2px;
  }

  // Footer grid for placing blocks
  section.row.region {
    margin-bottom: 1.75rem !important;
  }

  section.region-footer-first {
    div.footer-logo {
      img {
        max-width: 500px;
        height: auto;
      }
    }
  }

  section.region-footer-second {
    .footer-contact {
      font-family: $font-frankgoth-std;

      h2 {
        font-family: $font-frankgoth-std;
          text-transform: uppercase;
          border-bottom: 2px $uva-orange solid;
          width: fit-content;
          padding-bottom: 0;
          line-height: 1.1rem;
          margin-top: 2rem;
          margin-bottom: 1rem;
          font-size: 1.1rem;
          font-weight: bolder;
          letter-spacing: 0.05rem;
      }

      ul {
        margin: 0;
        padding: 0;
        padding-inline-start: 0;
        line-height: 1.3rem;
        list-style-type: none;

        li {
          list-style-type: none;
          margin-bottom: 0.75rem;
        }
      }
    }

    .footer-map {
        overflow:hidden;
        padding-bottom:56.25%;
        position:relative;
        height:0;

      iframe{
        left:0;
        top:0;
        height:100%;
        width:100%;
        position:absolute;
      }
    }

    .media-links {
      a {
        color: $off-white;

        span {  // the icons
          font-size: 1.5rem;
        }
      }
    }

  } // end of div.site-footer__second


  .rector-visitor-block {
    display: unset;
    grid-column: 1/-1;
    width: 100%;
    text-align: center;
  }

} // end of footer.site-footer


// When there is a skew footer needs to go lower
.has-skew footer.site-footer {
  bottom: -180px;
}

// End of Footer
.path-frontpage #main-wrapper {
  margin-top: -1rem; // There is whitespace before the hero on the homepage. Not sure where it is coming from.
}

// Layout Styles

.layout-title {
  width: 100%;
  h1 {
    margin: 0 auto;
    padding: 1.5rem;
    width: fit-content;
    text-transform: uppercase;
  }
}

// Remove top margin for headers in body
.layout .field--name-body {
  h2:first-child, h3:first-child, h4:first-child {
    margin-top: 0;
  }
}

// Media Images on left in a 33%/67% layout builder layout
div.layout--twocol-section--33-67 {
   .block.block-entity-blockmedia {
    margin-left: 3rem;
    margin-top: 3rem;

     img {
       filter: $img-shadow;
       max-width: 18vw;
       height: auto;
       display: inline-block;
       margin: 0.5rem 18%;
     }
  }
}

.features-1over2 {
  & > .layout__region {
    display: flex;
    flex-wrap: wrap;
    & > .block {
      display: inline-block;
      .content {
        width: 30vw;
      }
    }

    & > .block:first-child {
      flex: 0 0 100%;
      .content {
        margin: 1rem auto;
      }
    }

    & > .block:nth-child(2) {
      flex: 2;
      width: 45vw;

    }

    & > .block:nth-child(3) {
      flex: 1;
      width: 30%;
    }

    h2 {
      margin-bottom: 0;
    }
    .field--name-field-alt-teaser-title {
      width: 100%;
      text-align: center;
      color: $uva-orange;
      font-family: $font-frankgoth-hvy;
      text-transform: uppercase;
      border: none;
    }

    .field--name-field-teaser-image, .field--name-field-image {
      display: flex;
      justify-content: center;
      img {
        border: 2px solid #fcfcfc;
        border-top: none;
        border-bottom: none;
      }
    }
  }
}

.layout--threecol-section--25-50-25.three-col-full {
  margin-left: 3rem !important;
  margin-right: 3rem !important;
  justify-content: center;

  .layout__region--first, .layout__region--third {
    max-width: 20vw;
  }

  .layout__region--first {
    // align first block to right
    .block {
      width: fit-content;
      margin-left: auto;
      margin-right: 5rem;
    }
  }

  .layout__region--second {
    padding-right: 3rem;
  }
}


// blue skewed background bar
.blue-skew {
  background: inherit;
  position: relative;

  .skew-overlay {
    position: absolute;
    background: #009fdf;
    width: 100%;
    height: 100%;
    z-index: -1;
    padding: 2rem;

    &:after {
      background: white;
      bottom: 0;
      content: "";
      display: block;
      height: 78%;
      left: 0;
      position: absolute;
      right: 0;
      transform: skewY(-8deg);
      transform-origin: 100%;
      z-index: -1;
    }

    & ~ div.layout__region {
      z-index: 1;
    }
  }
}

.green-skew-right {
  background: inherit;
  position: relative;

  .skew-overlay {
    position: absolute;
    background: $uva-green;
    width: 100%;
    height: 100%;
    z-index: -1;
    padding: 2rem;

    &:after {
      background: white;
      top: -80%;
      left: 0;
      right: 0;
      content: "";
      display: block;
      height: 100%;
      position: absolute;
      transform: skewY(2deg);
      transform-origin: 100%;
      z-index: -1;
    }

    & ~ div.layout__region {
      z-index: 1;
    }
  }
}

.csc-row-75-25 .layout__region {
  display: flex !important;
  padding: 2rem;

  & > div.block-block-content:first-child {
    flex: 70% !important;
  }

  & > div.block-block-content:last-child {
    flex: 30% !important;
    margin: 5vw 10vw 0 0;
  }
}

.skew-bottom {
  position: absolute;
  bottom: -100%;
  left: 0;
  transform-origin: top left;
  background-color: $white;
}

.bg-skew {
  height: 100%;
  overflow: hidden;
  width: 100%;
  will-change: transfrom;
  z-index: 1;
}
// End of Layout Styles


/** General Structure **/
// For constricting width of paragraphs etc in full-width pages
.fixed-width, .max-width {
  max-width: 1800px;
  margin: auto;
}

.csc-2col-tbl {
  display: grid;
  align-items: start;
  grid-template-columns: repeat(2, 1fr);
}

.node--view-mode-teaser {
  border: none;
}

// Main menu home-link: Don't show on home page
.path-frontpage .home-link {
  display: none;
}

.layout.alt-teasers {
  margin: 0 8vw;
}

.layout__region--first {
  .node--view-mode-alt-teaser {
    padding-right: 2rem;
  }
}

.layout__region--second {
  .node--view-mode-alt-teaser {
    padding-left: 2rem;
  }
}
