

/** General Text Styles **/

body {
  font-family: "ITC Franklin Gothic Std", sans-serif;
}

h2, h3, h4, h5, h6 {
  margin-top: 1rem;
}

h4, h5, h6 {
  text-transform: uppercase;
}


/*** Individual Page Styles ***/

.page-user-login form#user-login-form {
  max-width: 500px;
  margin-left: 2rem;
  height: 83vh;
}


/** Colors **/
.text-blue {
  color: $uva-blue !important;
}

.text-orange {
  color: $uva-orange;
}

.text-lt-blue {
  color: $csc-lt-blue;
}

.bg-blue {
  background-color: $uva-blue;
}

.bg-orange {
  background-color: $uva-orange;
}

/** Icons **/
.csc-pointer {
  img.chevron {
    width: 25px;
  }
}
