@import 'variables.scss';

/*** Individual Page Styles ***/

// Students Page
// Students Features
.features-1over2 > .layout__region .field--name-field-teaser-image,
.features-1over2 > .layout__region .field--name-field-image {
    background-image: url("/sites/default/files/2024-04/South_Lawn_Commons_Students_16_1V3A1133_160over90.jpg");
    background-size: cover;
}

// Student social media
.layout.media-feeds {
  background-color: $uva-blue;
  min-height: 500px;
  margin-top: 3rem;
  padding: 2rem;

  .layout__region {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;

  }
} // End Student Social Media

// Student Resources
.student-resources.layout {
  padding: 0.5rem 10vw;

  .field--name-body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 1.75rem;

    h2 {
      grid-column: 1 / 4;
      width: fit-content;
      border-bottom: solid 0.8rem $uva-orange;
      line-height: 1rem;
      font-family: $font-frankgoth-med;
      font-style: italic;
      margin-bottom: 1.5rem;

      span {
        display: inline-block;
        font-family: $font-frankgoth-hvy;
        font-size: 130%;
        line-height: 0.2rem;
        vertical-align: sub;
        font-style: normal;
      }
    }

    hr {
      display: none;
    }

    ul {
      list-style-type: none;

      li {
        font-family: $font-frankgoth-med;
        font-weight: bold;
        font-size: 1.25rem;
        letter-spacing: 0.05rem;
        margin-bottom: 0.25rem;
        a {
          font-family: $font-frankgoth-med;
          font-weight: bold;
          font-size: 1.25rem;
          letter-spacing: 0.05rem;
          border-bottom-width: 2px!important;
        }
      }
    }

  }

} // End Student Resources

// End of Students Page

// Events Page
.events-main { // class set on content section of events page in layout builder
  // both views on event pages
  .view-events {
    .views-field-field-tags {
      a {
        margin: 15px 0 10px;
        line-height: 1;
        font-size: 0.875rem;
        font-weight: 500;
        letter-spacing: 0.0714285714em;
        color: #141e3c;
        text-transform: uppercase;
      }
    }
    a {
      border: none; // remove orange underline
    }
  }
  // The Featured left side
  .events-featured {
    width: 600px;

    .views-field-field-teaser-image {
      margin-bottom: 1rem;

      img {
        width: 600px;
        height: auto;
      }
    }

    .views-field-title {
      font-size: 2.25rem;
      line-height: 1;
    }
    .views-field-body {
      font-size: 1rem;
      line-height: 1.375;
      letter-spacing: -0.03125em;
      margin: 0 0 10px;
    }

    .views-field-field-date,
    .views-field-field-location {
      font-size: 90%;
      font-weight: bold;
      line-height: 1.5;
      text-align: center;
    }
  } // End of Events page featured block

  .events-column {
    .views-field-title {
      font-size: 1.75rem;
      line-height: 1.0714285714;
    }
  }
} // End of Events Main Page

// People Pages
.node--type-people {
  #main.container { margin-top: 0; }

  h1.title {
    background: $csc-gray;
    margin-top: 0;
    margin-bottom: 0;
    padding: 20px;
    color: $uva-blue;
    font-size: 2.5rem;
    font-family: $font-frankgoth-hvy;
    text-align: center;
  }

  .field--name-field-image {
    float: left;
    padding: 0 1rem 0.5rem 0;
  }

  .field--name-body {
    padding-top: 1rem;
  }
} // End of People pages

// Basic Pages
.node--type-page {

  // First h2 is next to image so no top margin
  h2:first-child {
    margin-top: 0;
  }

  // Make sure large images fit in body of basic page
  .block-field-blocknodepagebody img {
    max-width: 60vw;
    height: auto;
    filter: $img-shadow;
  }
}  // End of Basic Pages

// Location Pages
.node--type-location {
  .field--name-field-image {
    float: right;
    padding: 0 1rem 0.5rem;
  }
}

/** End of Individual Page Styles **/
