@import 'variables.scss';

// Page Type Styles (Content types)
// Landing pages
body.node--type-landing-page  main#content {
  &.csc-lg-hero {
    .c-csc-hero {
      height: fit-content;

      .c-csc-text_box.hero-title {
        h1 {
          padding: 35px 0 0;
          color: $white;
          font-family: $font-frankgoth-hvy;
          font-weight: bold;
          text-transform: uppercase;
          letter-spacing: 0.1rem;
          font-size: 3rem;
        }
      } // End of .hero-title

      p.breadcrumbs {
        margin-left: 15vw;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 90%;
      }

      .c-csc-text_box h2 {
        font-family: $font-frankgoth-hvy;
        text-align: left;
        margin: 1.5rem 0 0.5rem 500px;
        font-size: 2.75rem;
        text-shadow: 2px 2px 5px black;
      }

      // Overlay (see below .csc-2col-tbl general definition for grid layout specs)
      .csc-2col-tbl {
        margin: 1rem 8rem;
        width: fit-content;
        grid-gap: 1.5rem 5rem;
        grid-template-columns: 300px 600px;

        & > div {
          text-align: left;

          a {
            font-weight: bold;
            text-transform: uppercase;
          }
        }

        h3 {
          margin: 1rem 0 0 0;
          padding: 0;
          text-transform: uppercase;
          font-size: 2rem;
          letter-spacing: 0.05rem;
        }

        h4 {
          margin: 0;
          padding: 0;
          font-family: 'Bodoni Bold', serif;
          text-transform: capitalize;
          letter-spacing: 0.05rem;

          a {
            text-transform: capitalize;
            border: none;

            &:hover, &:hover span {
              color: $uva-orange!important;
            }
          }
        }

        p {
          margin: 0.5rem 0;
          padding: 0;
        }

        img {
          border: 4px solid white;
          max-height: 200px;
        }
      }
    }
  } // End of Large Hero pages (like Student)

  h1.title-overlay {
    padding: 25px 0 10px;
    background-color: $title-bg;
    color: $white;
    font-family: $font-frankgoth-hvy;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 2rem;
  }

  // Hero Overlays
  .field--name-field-text-overlay .c-csc-text_box {
    h2 {
      font-family: $font-frankgoth-med;
      text-align: left;
      margin: 1.5rem 0 0.5rem 25vw;
      font-size: 2.75rem;
    }
    p {
      color: $uva-blue;
      max-width: 650px;
      text-align: left;
      margin-left: 27vw; /* TODO: Make this more specific to its context?? */
      line-height: 1.5rem;
    }
  } // End of Hero Overlays

  .field--name-field-hero-top {
    margin-top: -1rem;
    .c-csc-hero {
      margin-bottom: 1.5rem;
      padding-bottom: 2rem;
    }
  }

  .block-field-blocknodelanding-pagebody {
    .content {
      width: 75%;
      margin-bottom: 4rem;
    }
    p {
      font-family: $font-frankgoth-std;
    }
  }
} // End of Landing page styles

// Basic Page Content Type
/*
body.node--type-page {
  .field--name-field-image {
    float: left;
    margin: 0 1rem 0.25rem;
    border: 2px solid #777;
    padding: 5px;
  }
} */
// End of basic page content type


// Event Content Type Pages
body.node--type-event {
  // Breadcrumbs on event page
  .bc-inline.layout.layout--onecol {
    margin-left: -10rem;
  }

  article.node--type-event {
    max-width: 1200px;
    margin: 0 auto;
  }
  div.event-content.layout--twocol-section {
    gap: 75px;
  }
  .layout__region.layout__region--first {
    max-width:800px;
    padding-right: 5rem;

    ol.breadcrumb {
      margin-top: -1rem;
      margin-left: -8rem;
    }

    .block-field-blocknodeeventfield-tags {
      text-align: right;
      ul, li { margin: 0; padding: 0;}
      li {
        list-style-type: none;

        text-align: right;
        a {
          font-family: $font-frankgoth-med;
          font-size: 90%;
          text-transform: uppercase;
          border: none;
          color: $csc-dark-gray;
        }
      }
    }
    .block-field-blocknodeeventfield-event-type .field--name-field-event-type  {
      padding-top: 0.5rem;
      a {
        font-family: $font-frankgoth-med;
        font-size: 80%;
        text-transform: uppercase;
        color: $csc-dark-gray;
        letter-spacing: 1px;
        border: none;

        &:hover {
          border-bottom: $csc-link;
        }
      }
    }

    .block-field-blocknodeeventtitle {
      margin-bottom: 1rem;
      padding-bottom: 0.25rem;
      border-bottom: thin solid grey;
      span {
        font-size: 3rem;
        font-family: $font-frankgoth-med;
        line-height: 1.03846;
        letter-spacing: -0.02885em;
      }
    }

    .field--name-field-image {
      padding: 0.5rem 0 1.75rem;
      img {
        width: 100%;
        height: auto;
        filter: $img-shadow;
      }
    }

  } // end of events layout region first

  // Side bar on events
  .layout__region.layout__region--second .wrapper {
    height: 430px;
    width: 300px;
    background-color: $csc-lt-gray;
    margin-top: 20px;
    padding: 40px 50px;

    .field__item, .field__item p.address {
      font-family: $font-frankgoth-cd;
      text-align: center;
    }

    .field--name-field-date {
      font-weight: bold;
      margin-bottom: 1rem;
    }

    article.node--type-location {
      h2.node__title, .country { display: none; }
    }
  } // end of events layout region second
} // End of Events Content Type

// Basic Pages
.node--type-page {

  // First h2 is next to image so no top margin
  h2:first-child {
    margin-top: 0;
  }

  .block-field-blocknodepagefield-image {
    float: left;
    margin: 0 1rem 2rem 0;

    img {
      filter: $img-shadow;
    }
  }
  // Make sure large images fit in body of basic page
  .block-field-blocknodepagebody {
    padding-top: 1rem;
    img {
      max-width: 60vw;
      height: auto;
      filter: $img-shadow;
    }
  }
}  // End of Basic Pages

// Location Pages
.node--type-location {
  .field--name-field-image {
    float: right;
    padding: 0 1rem 0.5rem;
  }
}

// People Pages
.node--type-people {

  article {
    header.people {
      height: 280px!important;
      padding: 80px 60px 0px;
      background-color: $csc-grey-blue;

      .wrapper {
        display: flex;
        gap: 35px;

        h2 {
          font-family: $font-frankgoth-med;
          font-size: 3rem;
          font-weight: bold;
        }
      }
    }

    .person--bio {
      width: 650px;
      margin-left: 750px;
      margin-top: 30px;
    }
  }

  // Moved from csc-pages.scss
  #main.container { margin-top: 0; }
  h1.title {
    background: $csc-gray;
    margin-top: 0;
    margin-bottom: 0;
    padding: 20px;
    color: $uva-blue;
    font-size: 2.5rem;
    font-family: $font-frankgoth-hvy;
    text-align: center;
  }

  .field--name-field-image {
    margin: 0 0 0 6rem;
    padding: 0 1rem 0.5rem 0;
  }

  .field--name-body {
    padding-top: 1rem;
  }
}

// End of Content Type Styles
