@import 'variables.scss';

/*** Individual Page Styles ***/

// Students Page
// Students Features
.features-1over2 > .layout__region .field--name-field-teaser-image,
.features-1over2 > .layout__region .field--name-field-image {
    background-image: url("/sites/default/files/2024-04/South_Lawn_Commons_Students_16_1V3A1133_160over90.jpg");
    background-size: cover;
}

// Student social media
.layout.media-feeds {
  background-color: $uva-blue;
  min-height: 500px;
  margin-top: 3rem;
  padding: 2rem;

  .layout__region {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;

  }
} // End Student Social Media

// Student Resources
.student-resources.layout {
  padding: 0.5rem 3rem;

  h2 {
    margin-bottom: solid 8px $uva-orange;
  }
} // End Student Resources

// End of Students Page

/** End of Individual Page Styles **/
