@font-face {
  font-family: "ITC Franklin Gothic Std";
  font-weight: normal;
  src: url("../css/fonts/franklingothic/ITCFranklinGothicStd-Med.otf") format("opentype");
}
@font-face {
  font-family: "ITC Franklin Gothic Std";
  font-weight: normal;
  font-style: italic;
  src: url("../css/fonts/franklingothic/ITCFranklinGothicStd-MedIt.otf") format("opentype");
}
@font-face {
  font-family: "ITC Franklin Gothic Std";
  font-weight: bold;
  src: url("../css/fonts/franklingothic/ITCFranklinGothicStd-Hvy.otf") format("opentype");
}

@font-face {
  font-family: "ITC Franklin Gothic Std";
  font-weight: bold;
  font-style: italic;
  src: url("../css/fonts/franklingothic/ITCFranklinGothicStd-HvyIt.otf") format("opentype");
}

// Demi
@font-face {
  font-family: "ITC Franklin Gothic Demi";
  font-weight: normal;
  src: url("../css/fonts/franklingothic/ITCFranklinGothicStd-Demi.otf") format("opentype");
}
@font-face {
  font-family: "ITC Franklin Gothic Demi";
  font-weight: normal;
  font-style: italic;
  src: url("../css/fonts/franklingothic/ITCFranklinGothicStd-DemiIt.otf") format("opentype");
}

// Demi
@font-face {
  font-family: "ITC Franklin Gothic Book";
  font-weight: normal;
  src: url("../css/fonts/franklingothic/ITCFranklinGothicStd-Book.otf") format("opentype");
}
@font-face {
  font-family: "ITC Franklin Gothic Book";
  font-weight: normal;
  font-style: italic;
  src: url("../css/fonts/franklingothic/ITCFranklinGothicStd-BookIt.otf") format("opentype");
}

// Bodoni Poster
@font-face {
  font-family: "Bodoni Poster";
  font-weight: normal;
  src: url("../css/fonts/bodoni/BodoniStd-Poster.otf") format("opentype");
}

@font-face {
  font-family: "Bodoni Poster";
  font-weight: normal;
  font-style: italic;
  src: url("../css/fonts/bodoni/BodoniStd-PosterItalic.otf") format("opentype");
}
