@import 'variables.scss';

/*** Home Page Styles ***/
body.path-frontpage main#content {

  .c-csc-hero {

    .field--name-field-text-overlay {
      display: grid;
      grid-template-columns: repeat(2, 50%);

      .field__item:first-child {
        display: unset !important;
        grid-column: 1/-1;
      }
    }

    .home-title-overlay {
      /*background: #ffffffd0;
      padding: 1rem;
      width: fit-content;
      margin: 0 auto;
      border-radius: 0 0 20px 20px; */
      background: linear-gradient(#ffffff, #ffffff09);
      padding-bottom: 8rem;

      h2 {
        margin: 0;
        padding: 1rem 0 0;
        font-size: 300%;
        font-weight: bold;
        letter-spacing: 0.1rem;
        color: $uva-blue;
      }

      h3 {
        margin-top: 0;
        font-size: 220%;
        letter-spacing: 0.03rem;
      }

      p.home-tag-line {
        font-family: "ITC Franklin Gothic Std";
        font-size: 1.65rem;
        font-weight: bold;
        color: #E57325;
        /* text-shadow: 2px 1px 2px #000000; */
        /* background-color: $white; */
        width: fit-content;
        margin: 0 auto;
        /* padding: 0.6rem 1rem 0.25rem; */
        /* border-radius: 25px; */
      }
    }
/*
    .home-title-overlay {
      !*transform: translateY(30px);*!

      h2 {
        margin: 5rem 0 0;
        font-size: 300%;
        font-weight: bold;
        letter-spacing: 0.1rem;
        color: $uva-blue;
      }

      h3 {
        margin-top: 0;
        font-size: 220%;
        letter-spacing: 0.03rem;
      }

      p.home-tag-line {
        font-family: "ITC Franklin Gothic Std";
        font-size: 1.65rem;
        font-weight: bold;
        color: #E57325;
        !* text-shadow: 2px 1px 2px #000000; *!
        background-color: $white;
        width: fit-content;
        margin: 0 auto;
        padding: 0.6rem 1rem 0.25rem;
        border-radius: 25px;
      }
    }*/
  } // End of Home page Hero

  // Explore teasers

  // Commons Slideshow (Note, the block must have the machine name block_1)
  .block-views-blockhomepage-slideshow-block-1, .block-views-blockmedia-slideshow-block-1 {
    min-height: 400px;
    /* border: thin solid $csc-lt-blue;
    background-image: url("/themes/custom/csc_bs_sass/images/home/your-space-screen.png");
    background-repeat: no-repeat;
    background-size: 30%;
    background-position-x: 18vw;
    background-position-y: -8px;
*/
    /*
    & > div.content {
      margin-left: 55vw;
      padding-top: 10px;
    }
     */


    .views_slideshow_controls_text_previous {
      position: absolute;
      transform: translateY(140px);
      z-index: 200;

      &:hover {
        cursor: pointer;
      }
    }

    .views_slideshow_controls_text_next {
      position: absolute;
      transform: translate(460px, 140px);
      z-index: 200;

      &:hover {
        cursor: pointer;
      }
    }

  }

  // New slide show
  .block-views-blockmedia-slideshow-block-1 {
    background-image: none;
    overflow: hidden;

    .view-media-slideshow {
      overflow: hidden;
    }
  }

  .events-row .wrapper {
    padding: 0 30px;
  }

  // Featured Event (This week at the commons)
  .featured-event {
    padding: 8rem 0rem 6rem 4rem;
    color: white;
    max-width: 49vw;

    .wrapper {
      padding: 1rem 4rem;
      background-color: $uva-blue;
    }

    // This week at the commons
    // block header
    .view-header h3 {
      span.text-white {
        font-size: 180%;
        text-transform: uppercase;
      }

      span.text-orange {
        display: block;
        margin-left: 15%;
        margin-top: -1rem;
        font-size: 110%;
        font-weight: bold;
        font-style: italic;
      }

    }

    // Image
    .views-field-field-image img {
      width: 100%;
      height: unset;
      filter: none;
    }

    // Title
    .views-field-title {
      margin: 0 0 0.5rem 0;
      width: 100%;
      text-align: center;
      a {
        color: white;
        font-size: 100%;
        border: none;
        &:hover {
          border-bottom: $csc-link;
        }
      }
    }

    // Body
    .views-field-body p {
      font-weight: normal;
      font-size: 1rem;
      line-height: 1.5rem;
      // margin: 0.5rem 0 0;
    }

    // Links (read more)
    .views-field-view-node, .views-field-nothing {
      text-align: right;
      a {
        color: white;
      }
    }
  }  // End of featured event

  // Upcoming Events
  .upcoming-events {
    padding: 3rem 4rem 1rem 1rem;
    h3 {
      display: inline-block;
      margin-top: 0.5rem;
      margin-bottom: 5rem;
      padding-bottom: .75rem;
      padding-left: 10%;

      span {
        position: absolute;
        display: inline-block;
        font-weight: bold;
      }
      span.text-white:first-child {
          text-transform: uppercase;
          font-size: 200%;
      }
      span.text-blue {
        margin-top: 0.5rem;
        padding-left: 3.5rem;
        text-transform: uppercase;
        font-size: 300%;
      }

      span.text-white:last-child {
        margin-top: 3rem;
        padding-left: 7rem;
        font-size: 110%;
        font-style: italic;
      }
    }  // end of h3

    .view-content {
      margin-top: 3rem;
      display: flex;
      flex-direction: column;
      gap: 30px;

      .views-row {
        display: flex;
        flex-direction: row;
        gap: 30px;

        .views-field-field-image {
          img {
            max-width: 280px;
          }
        }

        .views-group-meta {
          h3 {
            margin: 0.5rem 0 0 0;
            padding: 0;
            font-family: $font-frankgoth-std;
            font-size: 1.65rem;
            font-weight: bold;
            a {
              border-bottom: none;
            }
          }

          div.date, div.time  {
            font-weight: normal;
          }

          p:not(.read-more) {
            font-size: 1rem;
            line-height: 1.25rem;
          }
        }

        .views-field-field-date-value {
          font-style: italic;
        }


        .views-field-body {
          margin-top: 0.75rem;

          p {
            font-weight: normal;
            font-size: 1rem;
            line-height: 1.25rem;
          }
        }

        .date .rule-text {
          .days {
            display: inline-block;
            &:after {
              content: ', ';
            }
          }
          .time {
            display: inline-block;
          }
        }
      }
    } // end of view-content div
  } // End of Upcoming Events

  // General homepage styles

  // Research Block
  .home-research {
    max-width: 100%;
    padding: 3rem 0;
    background-color: $uva-blue;
    .wrapper {
      margin: 0 auto;
      padding: 2rem;
      max-width: 55vw;
      padding-bottom: 3rem;
      background-color: $csc-white-blue;

      h2 {
        font-size: 250%;
      }

      h3 {
        font-family: $font-frankgoth-med;
        font-size: 1.5rem;
      }
    }
  }

} // end of body.path-frontpage main#content

