@import 'variables.scss';

/*** Home Page Styles ***/
main#content {
  .c-csc-hero {
    .home-title-overlay {
      transform: translateY(30px);

      h2 {
        margin-bottom: 0;
        font-size: 400%;
        font-weight: bold;
        letter-spacing: 0.1rem;
      }

      h3 {
        font-family: 'ITC Franklin Gothic Demi', sans-serif;
        font-size: 250%;
        letter-spacing: 0.05rem;
      }
    }

    .home-info-overlay {
      position: absolute;
      max-width: 28vw;
      transform: translate(70vw, 30px);
      background-color: #ffffffdd;
      border-radius: 25px;
      color: $uva-blue;
      text-align: left;
      font-size: 1rem;
      padding: 20px;

      .text-formatted {
        h2 {
          margin: 0;
          padding: 0;
          font-size: 1.25rem;
          white-space: nowrap;
          text-align: left !important;
          font-weight: bold;
        }
      }
    }
  }
}
