@import 'variables.scss';

/*** Individual Page Styles ***/

// Students Page
// Students Features
.features-1over2 > .layout__region .field--name-field-teaser-image,
.features-1over2 > .layout__region .field--name-field-image {
    background-image: url("/sites/default/files/2024-04/South_Lawn_Commons_Students_16_1V3A1133_160over90.jpg");
    background-size: cover;
}

// Student social media
.layout.media-feeds {
  background-color: $uva-blue;
  min-height: 500px;
  margin-top: 3rem;
  padding: 2rem;

  .layout__region {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;

  }
} // End Student Social Media

// Student Resources
.student-resources.layout {
  padding: 0.5rem 10vw;

  .field--name-body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 1.75rem;

    h2 {
      grid-column: 1 / 4;
      width: fit-content;
      border-bottom: solid 0.8rem $uva-orange;
      line-height: 1rem;
      font-family: $font-frankgoth-med;
      font-style: italic;
      margin-bottom: 1.5rem;

      span {
        display: inline-block;
        font-family: $font-frankgoth-hvy;
        font-size: 130%;
        line-height: 0.2rem;
        vertical-align: sub;
        font-style: normal;
      }
    }

    hr {
      display: none;
    }

    ul {
      list-style-type: none;

      li {
        font-family: $font-frankgoth-med;
        font-weight: bold;
        font-size: 1.25rem;
        letter-spacing: 0.05rem;
        margin-bottom: 0.25rem;
        a {
          font-family: $font-frankgoth-med;
          font-weight: bold;
          font-size: 1.25rem;
          letter-spacing: 0.05rem;
          border-bottom-width: 2px!important;
        }
      }
    }

  }

} // End Student Resources

// End of Students Page

// Event Pages

.node--type-event {
  .layout__region.layout__region--first {
    padding-right: 5rem;

    ol.breadcrumb {
      margin-top: -1rem;
      margin-left: -8rem;
    }

    .block-field-blocknodeeventfield-tags {
      text-align: right;
      ul, li { margin: 0; padding: 0;}
      li {
        list-style-type: none;

        text-align: right;
        a {
          font-family: $font-frankgoth-med;
          font-size: 90%;
          text-transform: uppercase;
          border: none;
          color: $csc-dark-gray;
        }
      }
    }
    .block-field-blocknodeeventtitle {
      margin-bottom: 1rem;
      padding-bottom: 0.25rem;
      border-bottom: thin solid grey;
      span {
        font-size: 3.5rem;
        font-family: $font-frankgoth-hvy;
        line-height: 1.03846;
        letter-spacing: -0.02885em;
      }
    }

    .field--name-field-image {
      margin-bottom: 1rem;
      img {
        width: 100%;
        height: auto;
      }
    }

  } // end of events layout region first
  .layout__region.layout__region--second {

  } // end of events layout region second
}

// End of Event Pages

// People Pages
.node--type-people {
  #main.container { margin-top: 0; }

  h1.title {
    background: $csc-gray;
    margin-top: 0;
    margin-bottom: 0;
    padding: 20px;
    color: $uva-blue;
    font-size: 2.5rem;
    font-family: $font-frankgoth-hvy;
    text-align: center;
  }

  .field--name-field-image {
    float: left;
    padding: 0 1rem 0.5rem 0;
  }

  .field--name-body {
    padding-top: 1rem;
  }
} // End of People pages

// Basic Pages
.node--type-page {

  // First h2 is next to image so no top margin
  h2:first-child {
    margin-top: 0;
  }

  // Make sure large images fit in body of basic page
  .block-field-blocknodepagebody img {
    max-width: 60vw;
    height: auto;
    filter: $img-shadow;
  }
}  // End of Basic Pages

// Location Pages
.node--type-location {
  .field--name-field-image {
    float: right;
    padding: 0 1rem 0.5rem;
  }
}

/** End of Individual Page Styles **/
