/* May already be in bootstrap took from uva law law.virginia.edu
@media (min-width: 48em) {
  .container, .container-sm, .container-md, .container-lg {
    max-width: 1270px;
  }
}

@media (min-width: 48em) {
  .container, .container-sm, .container-md {
    max-width: 720px;
  }
}

@media (min-width: 36em) {
  .container, .container-sm {
    max-width: 540px;
  }
}
*/
