@import 'variables.scss';

/***  General Structural Styles ***/

// Html/Body
html, body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  font-family: "franklin-gothic-urw", "ITC Franklin Gothic Std", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 17px;
  margin: 0;
}

body {
  margin-top: 0 !important;
  max-width: 100%;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

#main.container {
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

// Header
#header {
  #navbar-main {
    padding: 8px 3rem;
    .navbar-brand {
      img {
        max-height: 40px;
      }
    }
  }

  // Menu Links
  .navbar-nav {
    padding-top: 3px;
    padding-left: 1rem;

    .nav-item {
      &.csc-give-link {
        margin-left: 3rem;
      }
      a {
        margin-right: 0.5rem;
        color: white;
        text-transform: uppercase;
        font-size: 0.9rem;
        font-weight: bold;
        letter-spacing: .05rem;
      }
    }

  }

  // Give Button
  .nav li.csc-give-link {
    margin-left: 2rem;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    justify-content: center;
    border: 2px solid $uva-orange;
    position: relative;
    font-family: "ITC Franklin Gothic Std", sans-serif;
    font-weight: 600;

    text-transform: uppercase;
    color: #ffffff;
    background-color: transparent;
    transform: skewX(-20deg);

    a {
      font-size: 0.95rem;
      font-weight: 600;
      text-transform: uppercase;
      font-family: "Bodoni Poster",Arial,sans-serif;
      white-space: nowrap;
      width: fit-content;
      transform: skewX(20deg);
      padding: 0.5rem 0 0 0.5rem;
    }
  }

} // End #header


// Footer including featured bottom

.region-featured-bottom-first {
  margin-bottom: -0.5rem;
}

footer.site-footer {
  position: relative;
  bottom: 0;
  width: 100%;
  min-height: 50px;
  z-index: 1;
  color: $off-white;
  padding: 1.5rem;

  a {
    color: $off-white !important;
  }

  // Footer grid for placing blocks
  section.region-footer-first {
    display: grid;
    grid-template-columns: 20% 30% 26% 23%;
    grid-column-gap: 10px;
    grid-row-gap: 1rem;

    .block-logo {
      display: unset;
      grid-column: 1/-1;

      .footer-logo img {
        height: 30%;
        width: 30%;
      }
    }

    .footer-contact {
      padding-left: 2rem;
      font-family: $font-frankgoth-std;

      h2 {
        font-family: $font-frankgoth-std;
          text-transform: uppercase;
          border-bottom: 2px orange solid;
          width: fit-content;
          padding-bottom: 0;
          line-height: 1.1rem;
          margin-top: 2rem;
          margin-bottom: 1rem;
          font-size: 1.1rem;
          font-weight: bolder;
          letter-spacing: 0.05rem;
      }

      ul {
        margin: 0;
        padding: 0;
        padding-inline-start: 0;
        line-height: 1.3rem;
        list-style-type: none;

        li {
          list-style-type: none;
          margin-bottom: 0.75rem;
        }
      }
    }

    .footer-menu {
      padding-top: 1.5rem;
    }

    .media-links {
      padding-top: 1.5rem;
      a {
        color: $off-white;

        span {  // the icons
          font-size: 1.5rem;
        }
      }
    }

    .rector-visitor-block {
      display: unset;
      grid-column: 1/-1;
      width: 100%;
      text-align: center;
    }

  } // end of div.site-footer__top
} // end of footer.site-footer


// When there is a skew footer needs to go lower
.has-skew footer.site-footer {
  bottom: -180px;
}

// End of Footer
.path-frontpage #main-wrapper {
  margin-top: -1rem; // There is whitespace before the hero on the homepage. Not sure where it is coming from.
}

// Breadcrumbs (hiding for now)
.block-system-breadcrumb-block {
  // display: none;
}

// Layout Styles
.blue-skew {
  background: inherit;
  position: relative;

  .skew-overlay {
    position: absolute;
    background: #009fdf;
    width: 100%;
    height: 70%;
    z-index: 1;
    padding: 2rem;

    &:after {
      background: white;
      bottom: 0;
      content: "";
      display: block;
      height: 78%;
      left: 0;
      position: absolute;
      right: 0;
      transform: skewY(-8deg);
      transform-origin: 100%;
      z-index: -1;
    }

    & ~ div.layout__region {
      z-index: 1;
    }
  }
}

// Page Type Styles (Content types)
// Landing pages
body.node--type-landing-page  main#content {
  h1.title_overlay {
    padding: 25px 0 15px;
    background-color: #33333377;
    font-family: $font-frankgoth-hvy;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 3rem;
  }

  .field--name-field-text-overlay .c-csc-text_box {
    h2 {
      font-family: $font-frankgoth-med;
      text-align: left;
      margin: 1.5rem 0 0.5rem 25vw;
      font-size: 2.75rem;
      text-shadow: 2px 2px 5px black;
    }
    p {
      color: $uva-blue;
      max-width: 650px;
      text-align: left;
      margin-left: 27vw;
      line-height: 1.5rem;
    }
  }

  .c-csc-hero {
    margin-bottom: 1.5rem;
  }

  .block-system-breadcrumb-block .content nav {
    margin: 1rem auto;
    width: fit-content;
  }

  .block-field-blocknodelanding-pagebody {
    .content {
      width: 75%;
      margin-bottom: 4rem;
    }
    p {
      font-family: $font-frankgoth-std;
    }
  }
} // End of Landing page styles

// Paragraph Types

main#content {
  .node__content {
    margin-top: 0;
  }

  .c-csc-hero {
    width: 100vw;
    min-height: 70vh;
    background-position: top center;


    .text-formatted {
      width: 100%;
    }
  }

  // Teaser row
  .c-csc-teaser_row  {
    .field--name-field-header h2 {
      margin: 0px auto 12px;
      width: fit-content;
      text-align: center;
      border-bottom: 4px solid $uva-orange;
      line-height: 28px;
    }

    .field.field--name-field-teasers {
      display: flex;
      flex-direction: row;
      justify-content: space-around;

      .field--name-field-teaser-caption {
        color: $uva-blue;
        margin: 1rem auto;

        p {
          margin: 0 auto;
          padding: 0;
          width: fit-content;
          text-align: center;
          line-height: 20px;
          font-weight: bold;

          &:last-child {
            border-bottom: 4px solid $uva-orange;
          }
        }
      }
    }
  } // End of teaser row

  // Highlight Rows
  .c-csc-highlight_row {
    background-color: $uva-blue;

    .wrapper {
      margin: 0 auto;
      max-width: 55vw;
      padding-bottom: 3rem;

      .field--name-field-plain-header {
        padding-top: 1rem;
        color: white;
        width: 100%;
        text-align: center;
        font-size: 110%;
        text-transform: uppercase;
      }

      .field--name-field-content-reference {
        padding: 2rem;
        background-color: $csc-white-blue;


        h2 {
          width: 100%;
          font-size: 250%;
          font-weight: bold;
          text-align: left;
        }

        .node__content .text-formatted {
          h3 {
            font-weight: bold;
            font-size: 1.75rem
          }
          h4 {
              font-weight: bold;
              font-size: 1.25rem;

          }
          p:has(img) + h4 {
              padding-top: 0.75rem;
          }
          p {
            margin-bottom: 0.5rem;
            font-family: 'ITC Franklin Gothic Book', sans-serif;
            font-size: 1rem!important;
          }

          img.align-left {
            margin-right: 2rem;
          }
          img.align-right {
            margin-left: 2rem;
          }
          a {
            border-bottom: 4px solid $uva-orange;
          }
        }
      }
    } // End of highlight row wrapper
  } // End of Highlight row

  // Text-Row Paragraph
  .c-csc-text_row {
    // Default arrangement of 3 columns 25/50/25
    .field--name-field-text-boxes {
      display: grid;
      grid-gap: 1rem;
      grid-template-columns: 25% 50% 25%;
    }

    // Two Equal Columns (when class field on paragraph is set to "equal-2"
    &.equal-2 {
      .field--name-field-text-boxes {
        grid-template-columns: repeat(2, 50%);
      }
    }

    // Three Equal Columns (equal-3)
    &.equal-3 {
      .field--name-field-text-boxes {
        grid-template-columns: repeat(3, 33%);
      }
    }

    // Four Equal columns (equal-4)
    &.equal-4 {
      .field--name-field-text-boxes {
        grid-template-columns: repeat(4, 25%);
      }
    }

    // Five Equal columns (equal-5)
    &.equal-5 {
      .field--name-field-text-boxes {
        grid-template-columns: repeat(5, 20%);
      }
    }
  }
} // end of paragraph type styles

main#content {
  // Separators
  .csc-sep {
    &.dotted-orange {
      border-top: 4px dotted $uva-orange;
      margin: 2rem auto;
      padding-top: 2rem;
      width: 80%;
      /* border-image: url('/themes/custom/csc_bs_sass/images/icons/orange-dot.svg'); */
    }
  }

  main#content .csc-sep.dotted-orange {
    /* border-top: 4px dotted #E57200; */
    margin: 2rem auto;
    padding-top: 2rem;
    width: 80%;

  }
} // end of separators

/** Admin Structure **/

body.toolbar-fixed #header #navbar-main {
  padding: 8px 3rem 1.5rem !important;
}

// styling moved node action tabs. See custom.js
#node-admin-links .nav.primary {
  margin-top: 4px;
}

#toolbar-administration {
  a {
    border-bottom: none;
  }
  #toolbar-bar {
    border-bottom: 1px solid gray;
    margin-bottom: -4px;
    max-height: 43px;
  }
}

.contextual-links a {
  border-bottom: none;
}

