

/** General Text Styles **/

body {
  font-family: "ITC Franklin Gothic Std", sans-serif;
}

main#content {
  .text-formatted {
    h1, h2, h3, p, span {
      &.blue {
        color: $uva-blue !important;
      }

      &.orange {
        color: $uva-orange !important;
      }

      &.white {
        color: $white;
      }

      &.black {
        color: black;
      }
    }
  }
}


/*** Individual Page Styles ***/

.page-user-login form#user-login-form {
  max-width: 500px;
  margin-left: 2rem;
  height: 83vh;
}


/** Colors **/
.text-blue {
  color: $uva-blue !important;
}

.text-orange {
  color: $uva-orange;
}

.text-lt-blue {
  color: $csc-lt-blue;
}

.bg-blue {
  background-color: $uva-blue;
}

.bg-orange {
  background-color: $uva-orange;
}

