@import 'variables.scss';
// Original Media Queries before starting from scratch


/* May already be in bootstrap took from uva law law.virginia.edu
@media (min-width: 48em) {
  .container, .container-sm, .container-md, .container-lg {
    max-width: 1270px;
  }
}

@media (min-width: 48em) {
  .container, .container-sm, .container-md {
    max-width: 720px;
  }
}

@media (min-width: 36em) {
  .container, .container-sm {
    max-width: 540px;
  }
}
*/

// Layout
@media (min-width: 48em) {
  // A fixed width section (paragraph) in a full width page (content type)
  body.node--type-page-full-width {
    .layout--twocol-section.layout--twocol-section--50-50.fixed-width > .layout__region--first,
    .layout--twocol-section.layout--twocol-section--50-50.fixed-width > .layout__region--second {
      flex: 0 1 45%;
      padding: 1rem;
    }
  }
}

@media (screen and max-width: 576px) {
  #block-csc-bs-sass-main-menu:not(.show) {
    display: none;
  }

  #header {
    #navbar-main {
      justify-content: center;
      padding: 0.5rem;

      // Menu Items
      .nav-item a {
        font-size: 0.8rem;
        font-weight: normal;
      }

      // Give Link
      div.csc-give-link {
        border-width: 2px;
        padding: 0 2px;
        .content .field--name-body p {
          margin: 0;
          padding: 0;

          a {
            font-family: $font-frankgoth-med;
            font-weight: bold;
            font-size: 0.8rem;
          }
        }
      } // end of give links
    } // end of #navbar-main
  } // End of # header

  // Standard Elements
  h2, h3, h4 { font-size: 115%!important; }

} // End of max-width: 576px

