@import 'variables.scss';

// Phones
@media (max-width: 767.9px) {
  main#content {
    padding: 0;
  }

  // Move navbar toggle up to top header
  button.navbar-toggler {
    position: absolute;
    top: -45px;
    right: 10px;
    background-color: white;
  }

  // Remove secondary header strip
  #header #navbar-main.bg-primary {
    height: 0px !important;
  }

  // Front page
  .path-frontpage {
    #main-wrapper {
      margin-top: unset;

      main#content {
        // CSC Hero
        .c-csc-hero {
          .home-title-overlay {
            h2, .h2 {
              margin: 2rem auto;
              font-size: 150%;
            }

            p.home-tag-line {
              font-size: 100% !important;
              border-radius: 0;
            }
          }
        } // End of .c-csc-hero Front Page
        // Hero Overlay Front Page
        .c-csc-text_row .field--name-field-text-boxes {
          display: unset;
          position: relative;
          top: -15rem;

          .c-csc-text_box {
            width: 100%;
            text-align: center;
            color: $white;
            background-color: #232D4B60;

            a.read-more {
              color: $uva-orange;
            }
          }

          .c-csc-text_box {
            padding: 1rem 0 2rem !important;
          }

          .c-csc-text_box.address {
            background-color: $uva-blue;
            padding: 1rem 0!important;
          }
        } // end of .c-csc-text_row

        .c-csc-text_box.offerings {
          margin-top: -2.75rem !important;
        }

        .c-csc-teaser_row .field--name-field-teasers {
          display: unset !important;
          /*
          .field__item a {
            display: block;
            position: relative;
            margin-top: -50%;
            margin-bottom: 50%;
            color: white;
            border: none;

            .field--name-field-teaser-caption p {
              border: none;
              color: white;
            }

          }
           */
        } // end of .c-csc-teaser_row

        .block-views-blockhomepage-slideshow-block-1 {
          display: block;
          width: 100%;
          height: 300px;
          background-size: 80%;
          background-position-y: 0px;
          margin-left: -1.75rem;

          & > div {
            display: none;
          }
        }  // End of slideshowt

        .featured-event {
          margin-top: -6rem;
          padding: unset;
          max-width: unset;

          .wrapper:first-child {
            &:before {
              background-position: center;
              background-size: 7%;
            }
            padding: 1rem 1rem 1rem 1.25rem;
          }
        } // end of featured event

        .events-row .layout__region--second {
          & > .wrapper {
            padding: 0;
          }

          .view-header {
            margin: 0 0 -3rem -2rem;
          }
        }

        .upcoming-events {
          padding: 1rem 1rem 1rem 2rem;

          .text-white {
            color: $uva-orange !important;
          }
          .view-content {
            gap: 10px;

            .views-row {
              display: unset;
              border-bottom: 1px solid $csc-grey-blue;
              margin-bottom: 1rem;

              &:last-child {
                border: none;
              }
            }
          }
        } // end of upcoming-events

        // Research highlight row
        .c-csc-highlight_row > .wrapper {
          padding: 0!important;
          max-width: 100vw;

          .field--name-field-highlight-box-content {
            img {
              width: 100%;
              height: auto;
              margin-bottom: 1rem;
            }
          }

        } // end of research highlight row

        // News
        .view.csc-news-block {
          max-width: 90vw;
          text-align: center;

          .views-view-responsive-grid--horizontal {
            display: unset;

            .block-field-blocknodenews-itemfield-image {
              width: fit-content;
              margin: 0 auto;

              img {
                filter: none;
              }
            }
          }
        }

        } // end of main#content
    } // end of #main-wrapper

    // Pre-Footer and Footer blocks
    .block.help-curate .content {
      position: unset;
      width: 100%;
      margin: -6rem 0 0;
      padding: 1rem 2rem;
    }

    .block.email-updates {
      margin: -1rem 0 0;
    }

    #block-csc-bs-sass-footerblocklogo {
      img {
        width: 80vw !important;
      }
    }
  }  // end of Front Page in phones & tablets

  // Dropdown menu
  div#main-menu-list {
    background-color: $csc-grey-blue;

    ul.navbar-nav {
      padding: 0 0 0 1rem;

      ul.dropdown-menu {
        margin: unset!important;
        background-color: $uva-blue-25;
      }
    }
  }
} // End of max-width: 767.9px (phones)

// Medium (Tablets)
@media (min-width: 768px) {
  body.node--type-landing-page main#content {
    .field--name-field-text-overlay .c-csc-text_box {
      &.caption {
        width: 50%;
      }
    } // End of Overlay text box
  }// End of Landing pages medium
} // End of Tablets

// Only Large (small laptops)
@media (min-width: 992px) and (max-width: 1199.9px) {
  #header #navbar-top {
    max-width: 100vw;
    overflow: hidden;
    padding: 0.5rem;

    nav#block-csc-bs-sass-topmenu {
      margin-left: -3rem;
    }
  }
  // TODO: should be front page onlye
  body.path-frontpage {
    main#content {
      .c-csc-text_row .field--name-field-text-boxes {
        grid-gap: 0;

        .c-csc-text_box { // .hours-box, .c-csc-text_box.address
          font-size: 90%;

          &.p-5 {
            padding: 1rem !important;
          }
        }

      }

      // End of Text boxes
      .block-views-blockhomepage-slideshow-block-1 {
        background-position-x: 8vw;
      }

      // Events row on home page
      .events-row .wrapper {
        padding: 0;
      }

      .featured-event {
        max-width: 45vw;
        .wrapper {
          padding: 1rem !important;
        }
      }

      .upcoming-events {
        max-width:48vw;

        .view-content .views-row .views-group-meta h3 {
          font-size: 1.4rem;
        }
      }

      .c-csc-highlight_row .wrapper {
        max-width: 95vw;
      }

    } // End of Front page

    // General

    .c-csc-teaser_row .field.field--name-field-teasers {
      gap: 10px;
    }
  }  // end of Front page Medium

} // End of min-width: 992 and max-width: 1199.9px

// Only XLarge Most Small Laptops
@media (min-width: 1200px) and (max-width: 1399.9px) {
  body.node--type-landing-page main#content {
    .field--name-field-text-overlay .c-csc-text_box {
      &.caption {
        width: 40%;
      }
    } // End of Overlay text box
  }// End of Landing pages XLarge
} // End XLarge between 1200-1400px

// XXL
@media (min-width: 1400px) {
  body.node--type-landing-page main#content {
    .field--name-field-text-overlay .c-csc-text_box {
      &.caption {
        width: 30%;
      }
    } // End of Overlay text box
  } // End of Landing pages XXLarge
  .footer-contact, .navigation, .media-links { padding-left: 5%; }
}

// Min widths only
// Medium (Tablets) on up
@media (min-width: 768px) {

}
