/* VARIABLES */
// Fonts
$font-frankgoth-std: franklin-gothic-urw, sans-serif;
$font-frankgoth-cd: franklin-gothic-urw-cond, sans-serif;
$font-frankgoth-cp: franklin-gothic-urw-comp, sans-serif;
$font-bodoni: bodoni-urw, serif;
$font-bodoni-poster: bodoni-urw, serif;
$font-libre-caslon: "Libre Caslon Text", serif;
$font-opensans: "opensans-regular",helvetica,arial,sans-serif;

// colors
$primary-shade: #d5d5d5; // rgb(255, 78, 47);
$primary-light: tint-color($primary-shade, 37%);
$primary-dark: shade-color($primary-shade, 12%);
$accent-shade: #232d4b; //rgb(51,42,134); // #0079C0;
$accent-light: tint-color($accent-shade, 37%);
$accent-dark: shade-color($accent-shade, 12%);

// Reassign color vars to semantic color scheme
$blue: #050557;
$red: #dc3545;
$yellow: #ffc107;
$green: #28a745;
$cyan: #17a2b8;
$white: #fdfdfd;
$off-white: #dadada;
$black: #222222;
$gray-100: #f8f9fa;
$gray-800: #343a40;
$uva-blue: #232D4B;
$uva-blue-25: #C8CBD2;
$uva-orange: #E57325; // uva orange is: #E57200;
$uva-orange-25: #F9DCBF;
$uva-green: #62BB46;
$csc-lt-blue: #009fdf;
$csc-white-blue: #f0f8fc; // was #e5f1f6;
$csc-grey-blue: #434b64;
$csc-lt-gray: #eeeeee;
$csc-gray: #cdcdcd;
$csc-dark-gray: #5a6172;
$csc-trans-gray:#22222260;

$caption-color: #727272;

// Links
$csc-link: 2px solid $uva-orange;

// Shadows
$img-shadow: drop-shadow(8px 10px 3px #00000095); // drop-shadow(2px 4px 6px #232D4B);  // use with "filter: ..."
$map-shadow: drop-shadow(10px 10px #b2c0e3);      // use with filter
$text-shadow: 2px 2px 5px #232D4B84;  // use with "text-shadow" OLD??
$csc-shadow: 2px 2px 3px #00000040;
$csc-shadow-drk: 2px 2px 3px #00000080;

  // scss-docs-start theme-color-variables
$primary:       $accent-shade;
$secondary:     $primary-shade;
$success:       $green;
$info:          $cyan;
$warning:       $yellow;
$danger:        $red;
$brand-primary: $accent-shade;
$light:         $gray-100;
$dark:          $gray-800;


//$brand-success: $green;
//$brand-info: $teal;
//$brand-warning: $orange;
//$brand-danger: $red;
$brand-inverse: $primary-shade;
// Body
//
// Settings for the `<body>` element.
$body-bg: $white;
// $body-color: $gray-800;
$body-color: #212529;
$inverse-bg: $primary-shade;
$inverse-color: $white;

// Title
$title-bg: #22222277;

// Links
//
// Style anchor elements.
//$link-color: $accent-shade;
$link-decoration: none;
//$link-hover-color: $accent-dark;
//$link-hover-decoration: underline;
// Comments
$comment-spacer-x: 1.25em;
$comment-spacer-y: 1.25em;
// Responsive font sizes
$enable-responsive-font-sizes: true;
$enable-shadows: false;
$enable-gradients: false;
// Breadcrumbs (Works only on Bootstrap 5+)
// $breadcrumb-divider: quote(">");
$enable-caret: true;


/** Bootstrap Overrides **/
$container-padding-x: 0;
$container-padding-y: 0;
$nav-tabs-border-color: transparent;
$nav-tabs-link-active-border-color: transparent;
$nav-tabs-link-active-bg: none;
$nav-tabs-link-active-color: $cyan;
$nav-link-color: $white;
$nav-link-hover-color: $green;
$nav-tabs-link-hover-border-color: transparent;

