{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}

{% set last_month_year = '' %}

{% for row in rows %}
  {% set dval = row.content['#row'].node__field_date_field_date_value %}

  {# Format the month-year for grouping #}
  {% set month_year = dval|date("F Y") %}

  {# Print header if month-year changed #}
  {% if month_year != last_month_year %}
    <div class="month-header">
      <h2>{{ month_year }}</h2>
    </div>
    {% set last_month_year = month_year %}
  {% endif %}

  {# Render the row #}
  <div class="conference-row">
    {{ row.content }}
  </div>
{% endfor %}
