{% set file_url = file_url(media.field_media_document.entity.uri.value) %}
<div class="text-center"><strong><a href="{{ file_url }}"
      target="_blank" >{{ media.field_document_title.value }}<span class="visually-hidden">
         (Opens in a new window)</span></a></strong></div>
