{#
/**
 * @file
 * Theme Smart Date recurring formatter.
 * The original template is in /modules/contrib/smart_date/modules/smart_date_recur/templates
 */
#}
{% if rule_text %}
<div class="recurring-output--wrapper">
  <div class="rule-text">{{ rule_text }}</div>
</div>
{% endif %}
